Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$


chore: GitHub Release Watcherのランタイムファイルを.gitignoreに追加
  .gitignore
Due: none

fix: start.shのshellcheck警告を解消
  examples/github-release-watcher/scripts/start.sh
Due: none

test: スケジューラーの新規リリース検知テストを追加
  pyproject.toml
  tests/conftest.py
  tests/unit/test_github_release_watcher_scheduler.py
  uv.lock
Due: actions-simulator-config-check, version-consistency-check

feat: WSL→Windows Toast通知ブリッジを実装
  examples/github-release-watcher/config/config.toml
  examples/github-release-watcher/windows/Install.ps1
  examples/github-release-watcher/windows/README.md
  examples/github-release-watcher/windows/Register-TaskScheduler.ps1
  examples/github-release-watcher/windows/Watch-GitHubReleases.ps1
  services/github_release_watcher/notification/__init__.py
  services/github_release_watcher/notification/manager.py
  services/github_release_watcher/notification/windows_bridge.py
Due: documentation-link-check

feat: WSL2カーネルバージョン監視とWindows Toast通知ブリッジを実装
  docker-compose.yml
  examples/github-release-watcher/config/config.toml
  services/github_release_watcher/comparator.py
  services/github_release_watcher/notification/windows_bridge.py
  services/github_release_watcher/scheduler.py
  tests/unit/test_github_release_watcher_comparator.py
Due: docker-environment-check

feat: MCP Docker環境のリポジトリ化計画を追加
  .amazonq/rules/docker-project-plan.md
Due: documentation-link-check

fix: CI環境でのdocker-compose.yml構文エラーを修正
  Makefile
  README.md
  docker-compose.override.yml.example
  docker-compose.yml
  pyproject.toml
  tests/conftest.py
  tests/integration/services/test_actions_simulator_service.py
  tests/integration/services/test_service_integration.py
Due: docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

chore: 重複するdocker-compose.override.ymlテンプレートを削除
  docker-compose.override.yml.sample
  docker-compose.override.yml.simple
Due: none

chore: bump version to 1.3.0
  CHANGELOG.md
  main.py
  pyproject.toml
  services/actions/__init__.py
  services/github_release_watcher/__init__.py
  uv.lock
Due: actions-simulator-config-check, documentation-link-check, version-consistency-check

fix: resolve detached HEAD issue in release workflow
  .github/workflows/release.yml
Due: actions-workflow-validation

feat: Implement integration test improvement plan
  .amazonq/rules/docker-project-plan.md
  archive/docs/docker-project-plan.md
  archive/docs/integration-test-improvement-plan.md
Due: documentation-link-check

feat: Self-Hosted Runner移行計画の作成と基盤実装
  .amazonq/rules/self-hosted-runner-migration-plan.md
Due: documentation-link-check

feat: act CI互換性改善計画を追加
  .amazonq/rules/act-ci-compatibility-improvement-plan.md
  archive/docs/self-hosted-runner-migration-plan.md
Due: documentation-link-check

feat: Phase 1 - CI互換イメージ導入
  .actrc
  .env.ci
  .gitignore
Due: none

feat: Makefile にCI互換性向上ターゲット追加
  Makefile
Due: none

docs: README にCI互換モード実行方法を追加
  README.md
Due: documentation-link-check

feat: Phase 1 - act CI互換性向上（基盤改善） (#20)
  .actrc
  .env.ci
  .gitignore
  Makefile
  README.md
Due: documentation-link-check

feat: Phase 2 - Pythonバージョンを3.13.7に統一
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: Dependabot auto-mergeにworkflows権限を追加
  .github/workflows/dependabot-auto-merge.yml
Due: actions-workflow-validation

feat: Phase 2 - act CI互換性向上（ツールバージョン統一） (#23)
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
Due: actions-workflow-validation

feat: act CI互換性向上計画 Phase 1-3完全実装完了
  .actrc
  .amazonq/rules/act-ci-compatibility-improvement-plan.md
  .github/workflows/basic-test.yml
  Makefile
  docs/act/BEST_PRACTICES.md
  docs/act/CI_COMPATIBILITY.md
  docs/act/TROUBLESHOOTING.md
  pyproject.toml
  scripts/normalize-log.sh
  scripts/verify-ci-compatibility.sh
Due: actions-workflow-validation, actions-simulator-config-check, documentation-link-check, version-consistency-check

fix: 全ワークフローの依存関係インストールを--all-groupsに統一
  .github/workflows/basic-test.yml
  .github/workflows/ci.yml
  .github/workflows/quality-gates.yml
  .github/workflows/template-validation.yml.sample
Due: actions-workflow-validation

docs: Phase 4-6の今後の予定を追加
  .amazonq/rules/act-ci-compatibility-improvement-plan.md
Due: documentation-link-check

dependabot-auto-merge.yml の更新
  .github/workflows/dependabot-auto-merge.yml
Due: actions-workflow-validation

fix: Dependabot auto-mergeでPATを使用してworkflows権限問題を解決
  .github/workflows/dependabot-auto-merge.yml
Due: actions-workflow-validation

fix: .gitignoreにuv.lockを追加
  .gitignore
  uv.lock
Due: none

chore: Phase 4 - レガシーコンポーネント削除
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  examples/actions-simulator/README.md
  examples/actions-simulator/docker-compose.yml
  examples/actions-simulator/run-actions.sh
  examples/datetime-validator/README.md
  examples/datetime-validator/docker-compose.yml
  services/datetime/datetime_validator.py
  services/datetime/get_date.py
Due: docker-environment-check, documentation-link-check

test: DateTime Validator関連テストを削除
  tests/integration/services/test_datetime_validator.py
  tests/integration/services/test_integration.bats
  tests/integration/services/test_service_integration.py
Due: none

docs: Phase 4完了を記録、Phase 5計画を追加
  .amazonq/rules/act-ci-compatibility-improvement-plan.md
Due: documentation-link-check

feat: Phase 5 - uv tool install対応
  cli.py
  docs/UV_TOOL_INSTALL.md
  main.py
  pyproject.toml
Due: actions-simulator-config-check, documentation-link-check, version-consistency-check

docs: Phase 5完了を記録
  .amazonq/rules/act-ci-compatibility-improvement-plan.md
Due: documentation-link-check

fix: Dockerfileにcli.pyを追加
  Dockerfile
Due: docker-environment-check

fix: cli.pyのインポート順序を正しく修正
  cli.py
Due: none

fix: uv.lockを.gitignoreで除外したままDocker buildを修正
  Dockerfile
Due: docker-environment-check

fix: uv.lock除外とscripts/型エラー修正
  .pre-commit-config.yaml
  docs/actions-simulator-migration-plan.md
  scripts/audit-dependencies.py
  scripts/check-docs-consistency.py
  scripts/generate-sbom.py
  scripts/run_security_scan.py
  scripts/validate-templates.py
  scripts/version-manager.py
  services/actions/auto_recovery.py
  services/actions/enhanced_act_wrapper.py
  services/actions/execution_tracer.py
  services/actions/expression.py
  services/actions/hangup_detector.py
  services/actions/main.py
  services/actions/service.py
  services/actions/workflow_parser.py
  services/github_release_watcher/config.py
  services/github_release_watcher/github_client.py
  services/github_release_watcher/notification/base.py
  services/github_release_watcher/notification/discord.py
  services/github_release_watcher/notification/email.py
  services/github_release_watcher/notification/file.py
  services/github_release_watcher/notification/manager.py
  services/github_release_watcher/notification/slack.py
  services/github_release_watcher/notification/webhook.py
  services/github_release_watcher/state.py
Due: documentation-link-check

feat: introduce act bridge skeleton and migration scaffolding
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/COMMAND_USAGE_GUIDE.md
  docs/actions-simulator-migration-plan.md
  docs/actions/API_REFERENCE.md
  docs/actions/CLI_REFERENCE.md
  docs/actions/QUICK_START.md
  pyproject.toml
  scripts/run-actions.sh
  services/actions/act_bridge.py
  services/actions/service.py
  tests/e2e/test_comprehensive_integration.py
  tests/integration/actions/test_actions_simulator.bats
  tests/integration/actions/test_simulation_service_integration.py
  tests/unit/test_actions_api.py
  tests/unit/test_actions_output.py
  tests/unit/test_execution_tracer.py
  tests/unit/test_expression.py
  tests/unit/test_hangup_detector.py
  tests/unit/test_improved_process_monitor.py
  tests/unit/test_logger.py
  tests/unit/test_output.py
  tests/unit/test_workflow_parser.py
Due: actions-workflow-validation, actions-simulator-config-check, documentation-link-check, version-consistency-check

feat: wire act bridge runner to invoke act cli
  docs/actions-simulator-migration-plan.md
  services/actions/act_bridge.py
Due: documentation-link-check

fix: actブリッジのエラーメッセージを改善し、ログ出力を整形
  docs/actions-simulator-migration-plan.md
  services/actions/act_bridge.py
  services/actions/service.py
Due: documentation-link-check
