Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

fix: pre-commit品質チェック問題の修正
  .pre-commit-config.yaml
  .yamllint.yml
  monitoring/prometheus.yml
  tests/test_comprehensive_distribution.py
  tests/test_comprehensive_integration_suite.py
  tests/test_support_integration.py
Due: none

fix: 全ファイル品質チェック問題の修正
  .github/workflows/quality-gates.yml
  .pre-commit-config.yaml
  .yamllint.yml
  examples/simulation_service_integration_demo.py
  src/diagnostic_service.py
  src/execution_tracer.py
  src/performance_monitor.py
  tests/integration_test_summary.py
  tests/pytest_hangup.ini
  tests/run_comprehensive_integration_tests.py
  tests/run_hangup_tests.py
  tests/test_comprehensive_integration.py
  tests/test_end_to_end_validation.py
  tests/test_enhanced_act_wrapper.py
  tests/test_expression.py
  tests/test_hangup_end_to_end.py
  tests/test_hangup_integration.py
  tests/test_hangup_scenarios_comprehensive.py
  tests/test_integration_final.py
  tests/test_logger.py
  tests/test_output.py
  tests/test_performance_monitor_enhanced.py
  tests/test_performance_stability_validation.py
  tests/test_simulation_service_integration.py
  tests/test_workflow_parser.py
Due: actions-simulator-unit-tests, actions-workflow-validation

fix: 全ファイル品質チェック完全修正
  .pre-commit-config.yaml
  scripts/automated-quality-check.sh
Due: none

fix: pre-commit設定の引数整形とコメントの調整
  .pre-commit-config.yaml
Due: none

fix: GitHub Actionsワークフロー入力パラメータ修正
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: ExecutionTracerの互換性メソッド追加
  .github/workflows/basic-test.yml
  src/execution_tracer.py
Due: actions-simulator-unit-tests, actions-workflow-validation

fix: monitor_docker_communication引数修正
  src/execution_tracer.py
Due: actions-simulator-unit-tests

fix: trace_subprocess_executionメソッド追加
  src/execution_tracer.py
Due: actions-simulator-unit-tests

fix: track_thread_lifecycleメソッド追加
  src/execution_tracer.py
Due: actions-simulator-unit-tests

fix: 重複したexport_traceメソッド削除
  src/execution_tracer.py
Due: actions-simulator-unit-tests

fix: update_thread_state引数修正
  src/execution_tracer.py
Due: actions-simulator-unit-tests

fix: 品質ゲート失敗問題の修正
  README.md
  pyproject.toml
  quality-gate-fix-plan.md
  quality-gate-improvement-report.md
  services/actions/enhanced_act_wrapper.py
  services/actions/main.py
  services/actions/service.py
  uv.lock
Due: actions-simulator-config-check, documentation-link-check, version-consistency-check

refactor: ドキュメント構造の整理とプロジェクトガイドライン策定
  .kiro/specs/architecture/act-integration-design.md
  .kiro/specs/architecture/github-actions-simulator-design.md
  .kiro/specs/architecture/ui-design.md
  .kiro/specs/implementation/DEVELOPMENT_WORKFLOW_INTEGRATION.md
  .kiro/specs/implementation/RELEASE_SYSTEM.md
  .kiro/specs/implementation/Security_tool_selection.md
  .kiro/specs/implementation/TASK_12_IMPLEMENTATION_SUMMARY.md
  .kiro/specs/implementation/TASK_13_IMPLEMENTATION_SUMMARY.md
  .kiro/specs/implementation/TASK_15_IMPLEMENTATION_SUMMARY.md
  .kiro/specs/implementation/TASK_16_IMPLEMENTATION_SUMMARY.md
  .kiro/specs/implementation/TASK_17_IMPLEMENTATION_SUMMARY.md
  .kiro/specs/implementation/TASK_18_IMPLEMENTATION_SUMMARY.md
  .kiro/specs/implementation/TASK_19_IMPLEMENTATION_SUMMARY.md
  .kiro/specs/implementation/auto_recovery_implementation_summary.md
  .kiro/specs/implementation/docker-integration-implementation-summary.md
  .kiro/specs/implementation/implementation-plan.md
  .kiro/specs/implementation/performance_monitoring_implementation.md
  .kiro/specs/implementation/task4_implementation_summary.md
  .kiro/specs/quality-gates/DOCUMENTATION_CONSISTENCY.md
  .kiro/specs/quality-gates/PRE_COMMIT_INTEGRATION.md
  .kiro/specs/quality-gates/TEMPLATE_VALIDATION.md
  .kiro/steering/project-guidelines.md
  CONTRIBUTING.md
  README.md
  docs/actions/API_REFERENCE.md
  docs/actions/CLI_REFERENCE.md
  docs/actions/DIAGNOSTIC_COMMANDS.md
  docs/actions/DOCUMENTATION_REORGANIZATION_PLAN.md
  docs/actions/HANGUP_TROUBLESHOOTING.md
  docs/actions/INSTALLATION.md
  docs/actions/PERMISSION_SOLUTIONS.md
  docs/actions/PLATFORM_SUPPORT.md
  docs/actions/QUICK_START.md
  docs/actions/README.md
  docs/actions/SUPPORT.md
  docs/actions/TROUBLESHOOTING.md
  docs/actions/UPGRADE_GUIDE.md
Due: documentation-link-check

Implement code changes to enhance functionality and improve performance
  .gitignore
  uv.lock
Due: none

feat: MCP GitHub統合とActWrapper機能強化
  .kiro/settings/mcp.json
  CONTRIBUTING.md
  INTEGRATION_SUMMARY.md
  services/actions/act_wrapper.py
  services/actions/service.py
Due: documentation-link-check

feat: Actions Simulatorパス解決問題の根本修正とActWrapper統合
  .kiro/settings/mcp.json
  ACTIONS_COMPARISON_REPORT.md
  ACT_WRAPPER_MIGRATION_SUMMARY.md
  FINAL_PATH_RESOLUTION_SOLUTION.md
  PATH_RESOLUTION_FINAL_FIX.md
  PATH_RESOLUTION_FIX_SUMMARY.md
  PATH_RESOLUTION_SUCCESS_SUMMARY.md
  QUALITY_GATE_COMPARISON_REPORT.md
  archive/services/actions/README.md
  archive/services/actions/act_wrapper.py
  services/actions/enhanced_act_wrapper.py
  tests/test_act_wrapper_with_tracer.py
Due: documentation-link-check

feat: Docker権限問題の完全解決とGPAT環境変数フォールバック機能
  DOCKER_PERMISSION_FIX_PLAN.md
  FINAL_DOCKER_PERMISSION_COMPARISON.md
  QUALITY_GATE_COMPARISON_REPORT.md
  QUALITY_GATE_FINAL_COMPARISON_REPORT.md
  README.md
  UPDATED_COMPARISON_SUMMARY.md
  docker-compose.yml
  quality-gate-fix-plan.md
  scripts/fix-permissions.sh
  scripts/setup-docker-env.sh
Due: docker-environment-check, documentation-link-check

fix: QualityGate品質問題の修正
  README.md
  docs/DEVELOPMENT_WORKFLOW_INTEGRATION.md
  docs/PLATFORM_SUPPORT.md
  docs/TROUBLESHOOTING.md
Due: documentation-link-check

fix: README.md見出し構造の最終修正
  README.md
Due: documentation-link-check

feat: AI開発支援ルールの新規作成と遵守事項の明確化
  .kiro/settings/mcp.json
  .kiro/steering/ai-development-rules.md
  .kiro/steering/docker-implementation-rules.md
Due: documentation-link-check

Improve act artifact handling and container context
  .github/workflows/tmp-test-env.yml
  Dockerfile.actions
  services/actions/enhanced_act_wrapper.py
  services/actions/service.py
Due: actions-workflow-validation

test: テストファイルを削除
  tests/test_hello_world.bats (new)
  tests/test_hello_world.py (new)
Due: none

docs: Mcp-Dockerのプロジェクト分析ドキュメントと使用ガイドを追加
  docs/analysis/README.md
  docs/analysis/cross-repo-usage-guide.md
  docs/analysis/docker-server-management.md
Due: documentation-link-check

chore: update .gitignore (setup from templates)
  .gitignore
Due: none

feat: Docker サーバー管理のシンプル化を実装
  Makefile
  Makefile.old
  archive/remove_plan_autodocs.md
  archive/remove_plan_codeql.md
  archive/reports/ACTIONS_COMPARISON_REPORT.md
  archive/reports/ACT_WRAPPER_MIGRATION_SUMMARY.md
  archive/reports/FINAL_DOCKER_PERMISSION_COMPARISON.md
  archive/reports/FINAL_PATH_RESOLUTION_SOLUTION.md
  archive/reports/FINAL_VALIDATION_SUMMARY.md
  archive/reports/INTEGRATION_SUMMARY.md
  archive/reports/PATH_RESOLUTION_FINAL_FIX.md
  archive/reports/PATH_RESOLUTION_FIX_SUMMARY.md
  archive/reports/PATH_RESOLUTION_SUCCESS_SUMMARY.md
  archive/reports/QUALITY_GATE_COMPARISON_REPORT.md
  archive/reports/QUALITY_GATE_FINAL_COMPARISON_REPORT.md
  archive/reports/TASK_20_IMPLEMENTATION_SUMMARY.md
  archive/reports/UPDATED_COMPARISON_SUMMARY.md
  archive/reports/complete_distribution_validation_results.json
  archive/reports/comprehensive_integration_report.json
  archive/reports/end_to_end_validation_report.json
  archive/reports/final_distribution_validation_report.json
  archive/reports/final_integration_report.json
  archive/reports/final_integration_validation_report.json
  archive/reports/quality-gate-fix-plan.md
  archive/reports/quality-gate-improvement-report.md
  archive/reports/task_15_completion_report.json
  docs/analysis/docker-server-management.md
  docs/guides/docker-customization.md
  docs/guides/getting-started.md
  docs/guides/usage-in-other-repos.md
  examples/README.md
  examples/actions-simulator/README.md
  examples/actions-simulator/docker-compose.yml
  examples/actions-simulator/run-actions.sh
  examples/datetime-validator/README.md
  examples/datetime-validator/docker-compose.yml
  examples/github-mcp/README.md
  examples/github-mcp/docker-compose.yml
Due: documentation-link-check

fix: 開発依存関係の追加と型エラーの修正
  .pre-commit-config.yaml
  FINAL_VALIDATION_SUMMARY.md
  complete_distribution_validation_results.json
  final_distribution_validation_report.json
  final_distribution_validation_report.md
  final_integration_validation_report.json
  pyproject.toml
  scripts/run_security_scan.py
  services/actions/auto_recovery.py
  services/actions/diagnostic.py
  services/actions/docker_integration_checker.py
  services/actions/execution_tracer.py
  services/actions/expression.py
  services/actions/hangup_detector.py
  services/actions/logger.py
  services/actions/main.py
  services/actions/output.py
  services/actions/service.py
  services/actions/simulator.py
  services/actions/workflow_parser.py
  services/datetime/datetime_validator.py
  src/execution_tracer.py
  src/performance_monitor.py
  tests/test_actions_service.py
  tests/test_docs_consistency.py
  tests/test_final_integration_validation.py
  tests/test_improved_process_monitor.py
  uv.lock
Due: actions-simulator-unit-tests, actions-simulator-config-check, documentation-link-check, version-consistency-check

docs: テストスイート・ワークフロー再構築計画を追加
  FINAL_VALIDATION_SUMMARY.md
  complete_distribution_validation_results.json
  docs/test-suite/REBUILD_PLAN.md
  final_distribution_validation_report.json
  final_distribution_validation_report.md
  final_integration_validation_report.json
Due: documentation-link-check

docs: テスト・ワークフローの詳細な棚卸しを追加
  FINAL_VALIDATION_SUMMARY.md
  complete_distribution_validation_results.json
  docs/test-suite/TEST_INVENTORY.md
  docs/test-suite/WORKFLOW_INVENTORY.md
  final_distribution_validation_report.json
  final_distribution_validation_report.md
  final_integration_validation_report.json
Due: documentation-link-check

feat: 新しいテストディレクトリ構造を作成
  tests/e2e/README.md
  tests/fixtures/README.md
  tests/helpers/README.md
  tests/helpers/test_helper.bash
  tests/integration/README.md
  tests/unit/README.md
Due: documentation-link-check

feat: テストスイートとワークフローの再構築による保守性と実行効率の向上
  PR_DESCRIPTION.md
Due: documentation-link-check

fix: uv.lockを更新して依存関係の整合性を確保
  uv.lock
Due: none

fix: Dockerfileの--lockedフラグを削除してビルドを修正
  Dockerfile
Due: docker-environment-check

fix: CIワークフローを新しいテスト構造に対応
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: quality-gates.ymlをテスト再構築に対応
  .github/workflows/quality-gates.yml
Due: actions-workflow-validation

fix: ドキュメント整合性テストの正しいパスを指定
  .github/workflows/quality-gates.yml
Due: actions-workflow-validation

fix: test_documentation_consistency.pyを新しいプロジェクト構造に対応
  tests/integration/test_documentation_consistency.py
Due: none

fix: basic-testとtemplate-validationワークフローを新構造に対応
  .github/workflows/basic-test.yml
  .github/workflows/ci.yml
  .github/workflows/template-validation.yml
  Dockerfile.actions
  docs/examples/workflows/basic-ci-example.yml
  docs/examples/workflows/local-development-ci.yml
Due: actions-workflow-validation

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

