Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

docs: add MCP server manual test success summary
  docs/MCP_MANUAL_TEST_SUMMARY_2026-02-07.md
Due: documentation-link-check

docs: address copilot review feedback for MCP manual test summary
  docs/MCP_MANUAL_TEST_SUMMARY_2026-02-07.md
Due: documentation-link-check

feat: add codex/copilot-cli TOML IDE configs and prepare v2.1.0
  CHANGELOG.md
  README.md
  scripts/generate-ide-config.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

feat: add codex/copilot-cli TOML IDE configs and prepare v2.1.0 (#46)
  CHANGELOG.md
  README.md
  scripts/generate-ide-config.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

fix: switch copilot-cli MCP config output to JSON
  CHANGELOG.md
  README.md
  scripts/generate-ide-config.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

fix: switch copilot-cli MCP config output to JSON (#47)
  CHANGELOG.md
  README.md
  scripts/generate-ide-config.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

Create SECURITY.md for security policy
  SECURITY.md
Due: documentation-link-check

Remove CodeQL jobs from security workflow (#48)
  .github/workflows/security.yml
  README.md
Due: actions-workflow-validation, documentation-link-check

chore: fix renovate.json
  renovate.json
Due: none

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: actions-workflow-validation

fix: address Security tab alerts
  .github/workflows/lint-test.yml
  .github/workflows/security.yml
  Dockerfile.github-mcp-server
  docs/SECURITY_PATCHES.md
Due: actions-workflow-validation, documentation-link-check

fix: make patched image build deterministic in CI
  Dockerfile.github-mcp-server
Due: none

fix: align upstream source with go-sdk v1.3.1
  Dockerfile.github-mcp-server
Due: none

fix: support branch/tag/SHA refs for upstream source
  Dockerfile.github-mcp-server
Due: none

fix: pass MCP_GITHUB_PAT from GITHUB_PERSONAL_ACCESS_TOKEN
  docker-compose.yml
Due: docker-environment-check

fix: allow MCP_GITHUB_PAT override with fallback
  docker-compose.yml
Due: docker-environment-check

feat: add list_pull_request_review_threads tool via source patch build
  CHANGELOG.md
  Dockerfile.github-mcp-server
  Makefile
  docker-compose.yml
  docs/design/pr-review-thread-list-design.md
  patches/github/list_pr_review_threads.go
  scripts/generate-ide-config.sh
Due: docker-environment-check, documentation-link-check

fix: address PR #13 auto-review comments
  Makefile
  docker-compose.custom.yml
  docker-compose.yml
  docs/design/pr-review-thread-list-design.md
  scripts/generate-ide-config.sh
Due: docker-environment-check, documentation-link-check

fix: address PR #14 auto-review comments (docs only)
  docker-compose.custom.yml
  docs/design/pr-review-thread-list-design.md
Due: documentation-link-check

fix: address PR #15 review comments (docs only)
  docs/design/pr-review-thread-list-design.md
Due: documentation-link-check

fix: update claude-desktop config generation for correct image and token handling
  scripts/generate-ide-config.sh
Due: none

fix: address PR #16 auto-review comments - consistency and safety
  scripts/generate-ide-config.sh
Due: none

test: update claude-desktop test to reflect mandatory GITHUB_MCP_IMAGE
  tests/shell/test_scripts.bats
Due: none

fix: address PR #16 re-review - unify server key to github-mcp-server-docker across all files
  .kiro/settings/mcp.json
  docs/simplification/github-mcp-server-design.md
  docs/simplification/github-mcp-server-implementation.md
  scripts/generate-ide-config.sh
Due: documentation-link-check

Add MCP HTTP bridge for Claude Desktop
  README.md
  bin/mcp-http-bridge.js
  package.json
  scripts/generate-ide-config.sh
  src/mcp-http-bridge.js
  tests/node/mcp-http-bridge.test.js
Due: actions-simulator-unit-tests, documentation-link-check

test: align Claude Desktop shell tests with HTTP bridge config
  tests/shell/test_scripts.bats
Due: none

fix: address PR #17 Copilot review comments
  .github/workflows/lint-test.yml
  bin/mcp-http-bridge.js
  src/mcp-http-bridge.js
  tests/node/mcp-http-bridge.test.js
Due: actions-simulator-unit-tests, actions-workflow-validation

fix: use compatible node test command for CI
  package.json
Due: none

fix: use ci-compatible node test glob
  package.json
Due: none

feat: add SSE (Streamable HTTP) support to mcp-http-bridge
  scripts/verify-bridge-e2e.js
  scripts/verify-mcp-endpoint.js
  src/mcp-http-bridge.js
Due: actions-simulator-unit-tests

fix: address review comments on SSE support PR
  scripts/verify-bridge-e2e.js
  scripts/verify-mcp-endpoint.js
  src/mcp-http-bridge.js
  tests/node/mcp-http-bridge.test.js
Due: actions-simulator-unit-tests

fix(claude-desktop): WSL環境でnode直接起動するWindowsラッパー(.cmd)を生成
  scripts/generate-ide-config.sh
Due: none

feat: add Windows support for Claude Desktop configuration generation
  .github/copilot-instructions.md
Due: documentation-link-check

test: claude-desktop BATSテストをnode直接起動方式に合わせて更新
  tests/shell/test_scripts.bats
Due: none

fix: Copilotレビュー指摘4件を対応
  .github/copilot-instructions.md
  scripts/generate-ide-config.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

chore: .gitattributesを追加してシェルスクリプトのLF改行を強制
  .gitattributes
Due: none

chore: Claude Desktopの設定をdocker stdio方式に変更し、関連スクリプトを更新
  .github/copilot-instructions.md
  README.md
  scripts/generate-ide-config.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

fix: 環境変数 GITHUB_MCP_IMAGE の取得方法を改善
  scripts/generate-ide-config.sh
Due: none

feat: Phase1 - copilot-review-mcp OAuth Façade skeleton (ISSUE#28)
  docker-compose.yml
  services/copilot-review-mcp/Dockerfile
  services/copilot-review-mcp/cmd/server/main.go
  services/copilot-review-mcp/go.mod
  services/copilot-review-mcp/go.sum
  services/copilot-review-mcp/internal/auth/handler.go
  services/copilot-review-mcp/internal/auth/session.go
  services/copilot-review-mcp/internal/middleware/auth.go
Due: docker-environment-check

fix: Dockerfile USER nonroot (Trivy DS-0002)
  services/copilot-review-mcp/Dockerfile
Due: none

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

