Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

style: ruff formatでコードスタイルを統一
  .pre-commit-config.yaml
Due: none

fix: pre-commitのruffバージョンを0.13.2に更新してフォーマット一貫性を確保
  .pre-commit-config.yaml
  tests/e2e/test_comprehensive_distribution.py
  tests/e2e/test_end_to_end_user_experience.py
Due: none

fix: テストのproject_rootパス修正とYAML'on'キー処理の改善
  complete_distribution_validation_results.json
  tests/complete_distribution_validation_results.json
  tests/e2e/test_complete_distribution_validation.py
  tests/integration/test_template_validation.py
Due: none

fix: 全テストファイルのproject_rootパスをparent.parent.parentに修正
  complete_distribution_validation_results.json
  final_distribution_validation_report.json
  final_distribution_validation_report.md
  tests/e2e/test_comprehensive_distribution.py
  tests/integration/test_enhanced_act_wrapper.py
  tests/unit/test_performance_monitor.py
  tests/unit/test_performance_monitor_enhanced.py
Due: documentation-link-check

fix: 全テストのproject_rootパスを完全修正とエラーハンドリング改善
  complete_distribution_validation_results.json
  final_distribution_validation_report.json
  final_distribution_validation_report.md
  tests/e2e/test_comprehensive_distribution.py
Due: documentation-link-check

fix: test_comprehensive_integration_suiteのproject_rootパスを修正
  tests/e2e/test_comprehensive_integration_suite.py
Due: none

chore: テスト結果ファイルを.gitignoreに追加
  .gitignore
Due: none

chore: 自動生成されるテスト結果ファイルをGitから削除し.gitignoreを更新
  .gitignore
  archive/reports/complete_distribution_validation_results.json
  archive/reports/comprehensive_integration_report.json
  archive/reports/final_distribution_validation_report.json
  complete_distribution_validation_results.json
  final_distribution_validation_report.json
  final_distribution_validation_report.md
  tests/complete_distribution_validation_results.json
Due: documentation-link-check

fix: テスト結果ファイルの出力先をoutput/ディレクトリに統一
  .gitignore
  scripts/final-distribution-validation.sh
  tests/e2e/test_complete_distribution_validation.py
  tests/e2e/test_comprehensive_integration.py
Due: none

fix: final_integration_validationの出力先もoutput/に統一
  FINAL_VALIDATION_SUMMARY.md
  final_integration_validation_report.json
  tests/e2e/test_final_integration_validation.py
Due: documentation-link-check

fix: パフォーマンス監視機能の包括的なテストを追加
  .pre-commit-config.yaml
  pyproject.toml
  services/actions/diagnostic.py
  services/actions/docker_integration_checker.py
  services/actions/enhanced_act_wrapper.py
  services/actions/hangup_detector.py
  tests/conftest.py
  tests/e2e/test_end_to_end_user_experience.py
  tests/e2e/test_hangup_end_to_end.py
  tests/integration/test_performance_monitor.py
  tests/integration/test_performance_monitor_enhanced.py
  uv.lock
Due: actions-simulator-config-check, version-consistency-check

fix: 型チェックの警告を無視するためのコメントを追加
  .pre-commit-config.yaml
  services/actions/enhanced_act_wrapper.py
  services/actions/execution_tracer.py
  services/actions/expression.py
  services/actions/hangup_detector.py
  services/actions/main.py
  services/actions/service.py
  services/actions/workflow_parser.py
  services/datetime/datetime_validator.py
  test_error_detection.py
Due: none

fix: CI/テストの失敗検出とBatsテストのtest_helperパスを修正
  .github/workflows/ci.yml
  .mega-linter.yml
  tests/integration/test_actions_simulator.bats
  tests/integration/test_docker_build.bats
  tests/integration/test_integration.bats
  tests/integration/test_security.bats
  tests/integration/test_services.bats
Due: actions-workflow-validation

fix: test_error_detection.pyを削除しpre-commit除外パターンを更新
  .pre-commit-config.yaml
  test_error_detection.py
Due: none

fix: pytest-xdist依存関係とテストパスの問題を修正
  .github/workflows/basic-test.yml
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: 単体テストの失敗を修正（expression, output）
  services/actions/expression.py
  tests/unit/test_output.py
Due: none

fix: basic-test.ymlのpipキャッシュエラーを修正
  .github/workflows/basic-test.yml
Due: actions-workflow-validation

test: テスト実行環境を修正し成功率を大幅に改善
  examples/docker_integration_test.py
  examples/enhanced_act_wrapper_example.py
  scripts/run-actions.sh
  scripts/run_bats.py
  scripts/run_security_scan.py
  services/actions/enhanced_act_wrapper.py
  services/actions/service.py
  tests/conftest.py
  tests/e2e/test_comprehensive_integration.py
  tests/e2e/test_final_integration_validation.py
  tests/e2e/test_hangup_end_to_end.py
  tests/e2e/test_performance_stability_validation.py
  tests/integration/test_act_wrapper_with_tracer.py
  tests/integration/test_docker_integration_complete.py
  tests/integration/test_enhanced_act_wrapper.py
  tests/integration/test_platform_support.py
  tests/integration/test_support_integration.py
  tests/unit/test_hangup_unit.py
Due: none

ci: ジョブ名を明確化しpytestとbatsテストを分離
  .github/workflows/ci.yml
Due: actions-workflow-validation

refactor: ワークフロー責務分離 - ci.ymlから品質ゲート統合を削除
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actions-workflow-validation

refactor: 統合テスト構造を3層に再編成し堅牢なパス解決を実装
  .amazonq/rules/integration-test-improvement-plan.md
  .github/workflows/ci.yml
  tests/conftest.py
  tests/e2e/test_docker_integration_checker.py
  tests/e2e/test_docker_integration_complete.py
  tests/e2e/test_hangup_integration.py
  tests/e2e/test_integration_final.py
  tests/e2e/test_support_integration.py
  tests/integration/actions/test_act_wrapper_with_tracer.py
  tests/integration/actions/test_actions_service.py
  tests/integration/actions/test_actions_simulator.bats
  tests/integration/actions/test_auto_recovery.py
  tests/integration/actions/test_diagnostic_service.py
  tests/integration/actions/test_enhanced_act_wrapper.py
  tests/integration/actions/test_performance_monitor.py
  tests/integration/actions/test_performance_monitor_enhanced.py
  tests/integration/actions/test_simulation_service.py
  tests/integration/actions/test_simulation_service_integration.py
  tests/integration/common/test_documentation_consistency.py
  tests/integration/common/test_platform_support.py
  tests/integration/common/test_security.bats
  tests/integration/common/test_template_validation.py
  tests/integration/services/test_integration.bats
  tests/integration/services/test_services.bats
  tests/integration/shared/test_helpers.sh
Due: actions-workflow-validation, documentation-link-check

refactor: integrationジョブを明確化しdocker-services-integrationに改名
  .github/workflows/ci.yml
Due: actions-workflow-validation

docs: 統合テスト改善計画のステータスを更新
  .amazonq/rules/integration-test-improvement-plan.md
Due: documentation-link-check

refactor: .parent多用を排除しPROJECT_ROOTに一括置換
  tests/e2e/test_complete_distribution_validation.py
  tests/e2e/test_comprehensive_distribution.py
  tests/e2e/test_comprehensive_integration_suite.py
  tests/e2e/test_end_to_end_user_experience.py
  tests/e2e/test_final_integration_validation.py
  tests/e2e/test_support_integration.py
  tests/integration/actions/test_enhanced_act_wrapper.py
  tests/integration/actions/test_performance_monitor.py
  tests/integration/actions/test_performance_monitor_enhanced.py
  tests/integration/common/test_documentation_consistency.py
  tests/integration/common/test_platform_support.py
  tests/integration/common/test_template_validation.py
  tests/unit/test_hangup_unit.py
Due: none

refactor: 不要なsys.path操作を削除しconftest.pyに一元化
  tests/e2e/test_support_integration.py
  tests/integration/actions/test_enhanced_act_wrapper.py
  tests/integration/actions/test_performance_monitor.py
  tests/integration/actions/test_performance_monitor_enhanced.py
  tests/integration/common/test_template_validation.py
  tests/unit/test_hangup_unit.py
Due: none

refactor: 重複テストファイルを削除して統合
  docs/TEST_CONSOLIDATION_REPORT.md
  scripts/analyze-duplicate-tests.sh
  scripts/test-by-folder.sh
  tests/e2e/test_complete_distribution_validation.py
  tests/e2e/test_comprehensive_integration_suite.py
  tests/e2e/test_docker_integration_checker.py
  tests/e2e/test_end_to_end_user_experience.py
  tests/e2e/test_final_integration_validation.py
  tests/e2e/test_hangup_end_to_end.py
  tests/e2e/test_hangup_integration.py
  tests/e2e/test_integration_final.py
  tests/integration/actions/test_performance_monitor.py
  tests/integration/actions/test_simulation_service.py
  tests/integration/services/test_services.bats
Due: documentation-link-check

fix: テスト修正とconftest.py実装
  scripts/analyze-test-failures.sh
  tests/integration/actions/test_enhanced_act_wrapper.py
Due: none

fix: テストのインポートパスとBatsヘルパーパス修正
  tests/integration/actions/test_actions_simulator.bats
  tests/integration/actions/test_performance_monitor_enhanced.py
  tests/integration/actions/test_simulation_service_integration.py
  tests/integration/common/test_security.bats
  tests/integration/services/test_integration.bats
Due: none

refactor: 不要なテストを削除してテストスイートを整理
  tests/e2e/test_end_to_end_validation.py
  tests/e2e/test_hangup_scenarios_comprehensive.py
  tests/e2e/test_performance_stability_validation.py
  tests/e2e/test_support_integration.py
  tests/integration/actions/test_actions_simulator.bats
  tests/integration/actions/test_performance_monitor_enhanced.py
  tests/integration/common/test_platform_support.py
  tests/integration/common/test_security.bats
Due: none

fix: ドキュメント整合性テストを削除し、残りのテストを修正
  tests/integration/common/test_documentation_consistency.py
  tests/integration/common/test_platform_support.py
Due: none

docs: テストクリーンアップの詳細サマリを追加
  docs/TEST_CLEANUP_SUMMARY.md
Due: documentation-link-check

fix: 並列実行時のテスト失敗を修正
  .coveragerc
  Makefile
  tests/integration/actions/test_simulation_service_integration.py
  tests/integration/common/test_platform_support.py
Due: none

feat: Makefileにクリーンアップターゲットを追加
  Makefile
Due: none

refactor: Dockerfileを統合してマルチステージビルドに移行
  .actrc
  .amazonq/rules/docker-implementation-rules.md
  .clinerules/dockerfile-consolidation-plan.md
  .github/workflows/basic-test.yml
  Dockerfile
  Dockerfile.actions
  Makefile
  README.md
  docker-compose.yml
  services/actions/__init__.py
  services/actions/enhanced_act_wrapper.py
  services/actions/path_utils.py
  services/actions/service.py
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

docs: Dockerfile統合プロジェクトの完了サマリーを追加
  .clinerules/dockerfile-consolidation-plan.md
Due: documentation-link-check

chore: actのバージョンを0.2.82に更新
  Dockerfile
Due: docker-environment-check

fix: ワークフローファイルが存在する場合のみパフォーマンステストを実行するように修正
  tests/e2e/test_comprehensive_integration.py
Due: none

fix: Dockerfileのデフォルトターゲット設定とテスト修正
  Dockerfile
  tests/integration/test_docker_build.bats
Due: docker-environment-check

style: コードのフォーマットを統一し、可読性を向上させるために修正
  archive/docs/sphinx/conf.py
  archive/mcp_datetime_server.py
  archive/services/actions/act_wrapper.py
Due: none

security: actをv0.2.84に更新してCVE-2025-22874を修正
  Dockerfile
Due: docker-environment-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

