Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

fix(playwright-mcp): --allowed-hosts '*' を追加してコンテナ間アクセスを許可
  docker-compose.yml
Due: docker-environment-check

docs: Copilot レビュー指摘を修正
  .env.template
  README.md
Due: documentation-link-check

chore: use published ghcr.io image for copilot-review-mcp
  docker-compose.yml
Due: docker-environment-check

docs: align docs with playwright-mcp default-enabled state
  .env.template
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

feat: add auth=none route pattern with playwright-mcp example (#110)
  .env.template
  .mcp.json.example
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs: README全面書き換え・tasks.md追加
  README.md
  tasks.md
Due: documentation-link-check

fix(docs): OAuth設定例の環境変数を別行に分割
  README.md
Due: documentation-link-check

fix(docs): Copilotレビュー指摘4件を修正
  README.md
  tasks.md
Due: documentation-link-check

docs: README全面書き換え・tasks.md追加 (#111)
  README.md
  tasks.md
Due: documentation-link-check

feat: add persistent volume for mcp-gateway token store (#112)
  .gitignore
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs: fix volume inspect wording and add project-name note (#112)
  README.md
Due: documentation-link-check

feat: add persistent volume for mcp-gateway token store (#113)
  .gitignore
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

fix: add init container to fix mcp-gateway-data volume ownership
  docker-compose.yml
Due: docker-environment-check

fix: Makefile 後方互換エイリアス追加、旧ターゲット参照をドキュメントから削除
  .github/copilot-instructions.md
  Makefile
  README.md
  docs/SECURITY_PATCHES.md
  docs/skills/pr-review-cycle.md
Due: documentation-link-check

fix: add network_mode: none to mcp-gateway-init
  docker-compose.yml
Due: docker-environment-check

fix: add init container to fix mcp-gateway-data volume ownership (#114)
  docker-compose.yml
Due: docker-environment-check

fix: Windows で make が動作するよう Git Bash を SHELL に設定
  Makefile
Due: none

fix: Git Bash 検索を複数候補・ユーザー上書き変数に改善
  Makefile
Due: none

fix: Windows で make が動作するよう Git Bash を SHELL に設定 (#116)
  Makefile
Due: none

docs: MCP CLI 登録方式の Spike 調査と Go 実装計画を追加 (#117)
  docs/plan-mcp-register-go.md
  docs/spike-mcp-cli-registration.md
  renovate.json
Due: documentation-link-check

docs: align MCP server naming examples
  docs/plan-mcp-register-go.md
  docs/spike-mcp-cli-registration.md
Due: documentation-link-check

feat: add mcp-docker register CLI
  .github/workflows/codeql.yml
  .github/workflows/lint-test.yml
  .gitignore
  Makefile
  README.md
  cmd/mcp-docker/main.go
  config/mcp-external.yml
  go.mod
  go.sum
  internal/compose/parse.go
  internal/compose/parse_test.go
  internal/external/parse.go
  internal/external/parse_test.go
  internal/register/agent.go
  internal/register/agents.go
  internal/register/agents_test.go
  internal/register/runner.go
Due: actions-workflow-validation, documentation-link-check

fix: address register review feedback
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  config/mcp-external.yml
  internal/register/agent.go
  internal/register/agents_test.go
Due: none

fix: clarify register dry run output
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/register/agent.go
  internal/register/agents_test.go
Due: none

docs: generate-ide-config.sh を Legacy/Fallback として位置づけ直し (refs #117)
  Makefile
  README.md
  scripts/generate-ide-config.sh
Due: documentation-link-check

fix: Legacy コメントの表現を正確化（mcp add 未対応限定から推奨フォールバックへ）
  Makefile
  scripts/generate-ide-config.sh
Due: none

docs: generate-ide-config.sh を Legacy/Fallback として位置づけ直し (closes #117) (#121)
  Makefile
  README.md
  scripts/generate-ide-config.sh
Due: documentation-link-check

ci: add go vet to lint-test workflow and Makefile lint target
  .github/workflows/lint-test.yml
  Makefile
Due: actions-workflow-validation

docs: clarify job name and lint target descriptions
  .github/workflows/lint-test.yml
  Makefile
Due: actions-workflow-validation

ci: add go vet to lint-test workflow and Makefile lint target (#122)
  .github/workflows/lint-test.yml
  Makefile
Due: actions-workflow-validation

feat: add release workflow and update CHANGELOG for v2.6.0
  .github/workflows/release.yml
  CHANGELOG.md
Due: actions-workflow-validation, documentation-link-check

fix: align action versions, add test job, fix changelog link refs
  .github/workflows/release.yml
  CHANGELOG.md
Due: actions-workflow-validation, documentation-link-check

docs: E2Eランブック追加とCodecov設定
  .github/workflows/lint-test.yml
  codecov.yml
  docs/e2e-runbook-mcp-docker-cli.md
Due: actions-workflow-validation, documentation-link-check

docs: E2Eランブックの dry-run 期待出力と冪等性表記を修正
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

feat: add release workflow for Go CLI binary distribution (v2.6.0) (#123)
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  CHANGELOG.md
  codecov.yml
  docs/e2e-runbook-mcp-docker-cli.md
Due: actions-workflow-validation, documentation-link-check

ci: release.yml でバイナリを tar.gz/zip にアーカイブして配布
  .github/workflows/release.yml
Due: actions-workflow-validation

docs: CHANGELOG に v2.6.1 エントリを追加
  CHANGELOG.md
Due: documentation-link-check

ci: リリース配布物を tar.gz/zip アーカイブに変更 (#124)
  .github/workflows/release.yml
  CHANGELOG.md
Due: actions-workflow-validation, documentation-link-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

