Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

test: HangupDetectorの信頼度閾値フィルタリングテストを強化
  tests/unit/test_hangup_detector.py
Due: none

docs: GitHub Actions MCPサーバーのPR記録を追加
  PR_MCP_GITHUB_ACTIONS.md
Due: documentation-link-check

docs: Phase 1進捗を更新 - legacy_actionsマーカー導入完了とドキュメント更新
  docs/COMMAND_USAGE_GUIDE.md
  docs/actions-simulator-migration-plan.md
Due: documentation-link-check

docs: Phase 1完了サマリーとPhase 2計画を追加
  docs/actions-simulator-migration-plan.md
Due: documentation-link-check

docs: テスト移行の複雑さに関する対応を更新し、成果物を明確化
  docs/actions-simulator-migration-retrospective.md
  docs/services-actions-deletion-plan.md
  scripts/run_bats.py
  src/actions/diagnostics.py
Due: actions-simulator-unit-tests, documentation-link-check

refactor: Phase 4B完了 - services/actions/完全削除
  docs/services-actions-deletion-plan.md
  services/actions/__init__.py
  services/actions/act_bridge.py
  services/actions/config.json
  services/actions/config/act-runner.toml
  services/actions/logger.py
  services/actions/path_utils.py
  services/actions/service.py
  src/actions/service.py
Due: actions-simulator-unit-tests, documentation-link-check

fix: Ruffエラー修正 - 未使用変数とimport削除
  src/actions/act_bridge.py
  src/actions/service.py
Due: actions-simulator-unit-tests

fix: 最後の未使用変数削除
  src/actions/service.py
Due: actions-simulator-unit-tests

fix: 未使用import削除 - Ruffチェック完全合格
  src/actions/service.py
Due: actions-simulator-unit-tests

docs: Phase 4C開始 - pre-commit修正タスク追加
  docs/services-actions-deletion-plan.md
Due: documentation-link-check

fix: DEL-424完了 - pre-commit設定修正
  .pre-commit-config.yaml
Due: none

docs: DEL-424完了記録
  docs/services-actions-deletion-plan.md
  src/actions/diagnostics.py
  src/actions/service.py
Due: actions-simulator-unit-tests, documentation-link-check

fix: pre-commit設定から削除済みActions Simulator参照を削除
  .pre-commit-config.yaml
Due: none

fix: pre-commitにact_bridge単体テストを追加
  .pre-commit-config.yaml
Due: none

docs: Phase 4C進捗更新 - DEL-424完了、最終段階へ
  docs/services-actions-deletion-plan.md
Due: documentation-link-check

docs: DEL-422,423完了 - CHANGELOG更新
  CHANGELOG.md
Due: documentation-link-check

AIによる日付ミスを暫定変更（2025-01→2025-10）
  .amazonq/rules/act-ci-compatibility-improvement-plan.md
  .kiro/specs/implementation/TASK_15_IMPLEMENTATION_SUMMARY.md
  .trivyignore
  archive/docs/integration-test-improvement-plan.md
  archive/mcp_datetime_server.py
  archive/scripts/update-readme.sh
  docs/API.md
  docs/actions-simulator-migration-archive-phase0-2.md
  docs/actions-simulator-migration-plan.md
  docs/actions-simulator-migration-retrospective.md
  docs/guides/usage-in-other-repos.md
  docs/services-actions-deletion-plan.md
  tests/conftest.py
Due: documentation-link-check

docs: Phase 4.5作業チェックリスト作成
  docs/phase4.5-completion-checklist.md
Due: documentation-link-check

fix: MyPy設定を更新し、型チェックの依存関係を追加
  .pre-commit-config.yaml
  src/actions/service.py
Due: actions-simulator-unit-tests

docs: Phase 4.5完了 - ローカル検証完了、PRマージ準備完了
  docs/phase4.5-completion-checklist.md
  docs/phase4.5-completion-summary.md
Due: documentation-link-check

docs: Phase 4 PR説明文作成
  docs/phase4-pr-description.md
Due: documentation-link-check

docs: Phase 4最終完了レポート作成
  docs/phase4-final-report.md
Due: documentation-link-check

fix: MyPy型エラー修正 - scripts/追加、外部依存無視、performance_monitor型修正
  .pre-commit-config.yaml
  pyproject.toml
  src/performance_monitor.py
Due: actions-simulator-unit-tests, actions-simulator-config-check, version-consistency-check

fix: securityジョブのSARIFアップロードをact実行時にスキップ
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: ci.ymlから削除済みdatetime-validatorサービスへの参照を削除
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: main.pyとBatsテストからservices.actions参照を削除
  main.py
  tests/e2e/test_hangup_scenarios.bats
Due: actions-simulator-config-check, version-consistency-check

fix: tests/integration/actions/にPythonテストがない場合はスキップ
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: 旧実装に依存するBatsテストを削除（Phase 4移行完了）
  tests/integration/actions/test_actions_simulator.bats
Due: none

fix: 旧実装に依存するテストをスキップ（Phase 4移行完了）
  tests/integration/common/test_platform_support.py
Due: none

fix: CI環境で失敗するBatsテストをスキップ
  tests/integration/services/test_integration.bats
Due: none

fix: E2Eテストのファイル名を修正
  .github/workflows/ci.yml
Due: actions-workflow-validation

refactor: ユーティリティ関数を整理し、重複を削除
  scripts/run-actions.sh
Due: none

fix: 出力ディレクトリの確認方法を修正し、実行時のみ作成するように変更
  scripts/run-actions.sh
Due: none

fix: Trivyアクションの非推奨パラメータを修正 (ignorefile → trivyignores)
  .github/workflows/security.yml
Due: actions-workflow-validation

fix: 循環インポートを解消 (ActBridgeRunnerをローカルインポートに変更)
  src/actions/service.py
Due: actions-simulator-unit-tests

fix: 循環インポートを完全解消 (データモデルをmodels.pyに分離)
  src/actions/act_bridge.py
  src/actions/models.py
  src/actions/service.py
Due: actions-simulator-unit-tests

fix: 未使用インポートを削除、E402エラーを修正
  src/mcp_github_actions/server.py
  src/mcp_github_actions/test_api.py
Due: actions-simulator-unit-tests

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

