Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$


feat(setup-tls): NODE_EXTRA_CA_CERTS を User スコープ環境変数にも自動設定する (#217)
  .env.template
  CHANGELOG.md
  scripts/lib/setup-tls-functions.ps1
  scripts/setup-tls.ps1
  tests/powershell/setup-tls.Tests.ps1
Due: documentation-link-check

feat(setup-tls): NODE_EXTRA_CA_CERTS を User スコープ環境変数にも自動設定する (#217) (#218)
  .env.template
  CHANGELOG.md
  scripts/lib/setup-tls-functions.ps1
  scripts/setup-tls.ps1
  tests/powershell/setup-tls.Tests.ps1
Due: documentation-link-check

fix(setup-tls): avoid elevated mkcert install
  CHANGELOG.md
  scripts/lib/setup-tls-functions.ps1
  scripts/setup-tls.ps1
  tests/powershell/setup-tls.Tests.ps1
Due: documentation-link-check

fix(setup-tls): avoid elevated mkcert install (#219)
  CHANGELOG.md
  scripts/lib/setup-tls-functions.ps1
  scripts/setup-tls.ps1
  tests/powershell/setup-tls.Tests.ps1
Due: documentation-link-check

fix: update Antigravity config path to ~/.gemini/config/mcp_config.json
  CHANGELOG.md
  Makefile
  docs/e2e-runbook-mcp-docker-cli.md
  internal/register/agents.go
Due: documentation-link-check

test: add test for Antigravity default config path
  internal/register/agents_test.go
Due: none

fix: update Antigravity config path to ~/.gemini/config/mcp_config.json (#220)
  CHANGELOG.md
  Makefile
  docs/e2e-runbook-mcp-docker-cli.md
  internal/register/agents.go
  internal/register/agents_test.go
Due: documentation-link-check

fix(register): antigravity の空 mcp_config.json をファイル未存在と同様に扱う
  CHANGELOG.md
  internal/register/agents.go
  internal/register/agents_test.go
Due: documentation-link-check

fix(register): antigravity の空 mcp_config.json をファイル未存在と同様に扱う (#222)
  CHANGELOG.md
  internal/register/agents.go
  internal/register/agents_test.go
Due: documentation-link-check

chore(release): v2.16.3 CHANGELOG
  CHANGELOG.md
  Makefile
Due: documentation-link-check

chore(release): v2.16.3 CHANGELOG (#223)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

feat(auth): remove GPAT from runtime
  .env.template
  .github/copilot-instructions.md
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  config/github-app/.gitkeep
  docker-compose.yml
  docs/github-app-setup.md
  internal/compose/parse_test.go
  scripts/health-check.sh
Due: docker-environment-check, documentation-link-check

fix(auth): pass numeric GitHub App ID
  .env.template
  Makefile
  README.md
  docker-compose.yml
  docs/github-app-setup.md
  internal/compose/parse_test.go
  scripts/health-check.sh
Due: docker-environment-check, documentation-link-check

feat(auth): runtime構成からGPATを完全排除 (#226)
  .env.template
  .github/copilot-instructions.md
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  config/github-app/.gitkeep
  docker-compose.yml
  docs/github-app-setup.md
  internal/compose/parse_test.go
  scripts/health-check.sh
Due: docker-environment-check, documentation-link-check

feat: add MCP 2026-07-28 conformance suite
  .env.template
  .github/copilot-instructions.md
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  docker-compose.yml
  docs/mcp-2026-07-28-conformance.md
  internal/compose/parse_test.go
  internal/conformance/verify.go
  internal/conformance/verify_test.go
  tests/shell/test_scripts.bats
Due: docker-environment-check, documentation-link-check

fix: address conformance review feedback
  CHANGELOG.md
  Makefile
  cmd/mcp-docker/main.go
  docs/mcp-2026-07-28-conformance.md
  internal/conformance/verify.go
  internal/conformance/verify_test.go
  tests/shell/test_scripts.bats
Due: documentation-link-check

feat(register): migrate AntigravityAgent to agy mcp CLI commands (#237)
  CHANGELOG.md
  internal/register/agent.go
  internal/register/agents.go
  internal/register/agents_test.go
Due: documentation-link-check

test(register): remove unused listNames helper in agents_test.go
  internal/register/agents_test.go
Due: none

docs(register): document minimum agy version requirement (v1.1.16+)
  CHANGELOG.md
  README.md
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

feat(register): AntigravityAgent を直接 JSON 操作から agy mcp CLI 呼び出し方式へ移行する (#238)
  CHANGELOG.md
  README.md
  docs/e2e-runbook-mcp-docker-cli.md
  internal/register/agent.go
  internal/register/agents.go
  internal/register/agents_test.go
Due: documentation-link-check

chore(release): v2.17.0
  CHANGELOG.md
  Makefile
Due: documentation-link-check

fix(build): add Makefile to mcp-docker binary target prerequisites
  Makefile
Due: none

chore(release): v2.17.0 (#239)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

feat(gateway): agy 向け legacy アダプタ設定を追加
  .env.template
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/agy-legacy-adapter.md
  docs/mcp-2026-07-28-conformance.md
Due: docker-environment-check, documentation-link-check

docs(gateway): legacy アダプタの運用確認手順を補足
  CHANGELOG.md
  docs/agy-legacy-adapter.md
  docs/mcp-2026-07-28-conformance.md
Due: documentation-link-check

feat(gateway): agy 向け legacy アダプタ設定を追加 (#241)
  .env.template
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/agy-legacy-adapter.md
  docs/mcp-2026-07-28-conformance.md
Due: docker-environment-check, documentation-link-check

feat(skill): skill を skills/ に収蔵し mcp-docker skill で各 CLI へ配置する
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/skill.go
  cmd/mcp-docker/skill_test.go
  internal/skill/catalog.go
  internal/skill/catalog_test.go
  internal/skill/client.go
  internal/skill/client_test.go
  internal/skill/install.go
  internal/skill/install_test.go
  skills.go
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
  skills/thread-owl-pr-reviewer/agents/openai.yaml
Due: documentation-link-check

fix(skill): 配置先のユーザーファイルを更新・削除の対象外にする
  CHANGELOG.md
  README.md
  cmd/mcp-docker/skill.go
  cmd/mcp-docker/skill_test.go
  internal/skill/install.go
  internal/skill/install_test.go
Due: documentation-link-check

fix(skill): 隠しユーザーファイルも uninstall の保持対象にする
  CHANGELOG.md
  README.md
  cmd/mcp-docker/skill_test.go
  internal/skill/install.go
  internal/skill/install_test.go
Due: documentation-link-check

docs(skill): 再レビューの enqueue を必須化し、reviewer にハンドオフ提示を追加する
  CHANGELOG.md
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
Due: documentation-link-check

docs(skill): agents/openai.yaml を両 skill に揃え、暗黙起動を無効にする
  CHANGELOG.md
  skills/review-raven-thread-owl-cycle/agents/openai.yaml
  skills/thread-owl-pr-reviewer/agents/openai.yaml
Due: documentation-link-check

test(register): タイムアウト検証テストの flaky を解消する
  CHANGELOG.md
  cmd/mcp-docker/main_test.go
Due: documentation-link-check

fix(skill): enqueue 手順を thread-owl の起動モード別にし、信頼リストを復元する
  CHANGELOG.md
  skills/review-raven-thread-owl-cycle/SKILL.md
Due: documentation-link-check

docs(skill): 投稿者ゲートの identity が書き込み経路で変わることを明記する
  CHANGELOG.md
  skills/review-raven-thread-owl-cycle/SKILL.md
Due: documentation-link-check

fix(skill): webhook 未到達を根拠にした手動 enqueue へのフォールバックを削除する
  CHANGELOG.md
  skills/review-raven-thread-owl-cycle/SKILL.md
Due: documentation-link-check

chore(release): v2.18.0
  CHANGELOG.md
  Makefile
Due: documentation-link-check

chore(version): main.version の既定値を dev にする
  CHANGELOG.md
  cmd/mcp-docker/main.go
Due: documentation-link-check

feat(skills): thread-owl-pr-reviewer で APPROVED 判定時にレビュー観点サマリーを含める
  CHANGELOG.md
  skills/thread-owl-pr-reviewer/SKILL.md
Due: documentation-link-check

feat(skills): thread-owl-pr-reviewer で APPROVED 判定時にレビュー観点サマリーを含める (#247)
  CHANGELOG.md
  skills/thread-owl-pr-reviewer/SKILL.md
Due: documentation-link-check
