Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

fix(make): include thread-owl in development image targets
  Makefile
  README.md
Due: documentation-link-check

fix: review-raven 移行時の旧コンテナ orphan と旧登録キー残留に対応 (#159)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

refactor: copilot-review-mcp 参照を review-raven へ移行 (#159) (#161)
  .env.template
  .github/copilot-instructions.md
  CHANGELOG.md
  Makefile
  README.md
  SECURITY.md
  cmd/mcp-docker/main_test.go
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  docs/architecture-review-platform.md
  docs/e2e-runbook-mcp-docker-cli.md
  docs/skills/pr-review-cycle.md
  internal/compose/parse_test.go
  scripts/health-check.sh
Due: docker-environment-check, documentation-link-check

fix: Makefile の pull-main / start-main に thread-owl を追加 (#163)
  CHANGELOG.md
  Makefile
  README.md
Due: documentation-link-check

fix: Makefile の pull-main / start-main に thread-owl を追加 (#163) (#164)
  CHANGELOG.md
  Makefile
  README.md
Due: documentation-link-check

feat: Antigravity CLI への MCP 登録サポートを追加
  .gitignore
  Makefile
  README.md
  cmd/mcp-docker/main.go
  docs/e2e-runbook-mcp-docker-cli.md
  internal/register/agents.go
  internal/register/agents_test.go
Due: documentation-link-check

chore: release v2.13.0
  CHANGELOG.md
  Makefile
  cmd/mcp-docker/main.go
Due: documentation-link-check

fix: verify-mcp-endpoint.js に Accept ヘッダーを追加し HTTP 406 を解消
  CHANGELOG.md
  scripts/verify-mcp-endpoint.js
Due: documentation-link-check

fix(compose): ROUTE_* に Compose 互換の変数展開を適用
  CHANGELOG.md
  internal/compose/parse.go
  internal/compose/parse_test.go
Due: documentation-link-check

fix: verify-mcp-endpoint.js で text/event-stream レスポンスのパース処理を追加
  scripts/verify-mcp-endpoint.js
Due: none

docs: CHANGELOG.md を更新 (SSE パース対応の追記)
  CHANGELOG.md
Due: documentation-link-check

fix(compose): 未対応の環境変数展開構文が残る場合に警告を出力するように修正
  internal/compose/parse.go
  internal/compose/parse_test.go
Due: none

feat(register): 計画外になった gateway 配下エントリの削除（prune)を追加
  CHANGELOG.md
  README.md
  cmd/mcp-docker/interactive.go
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/compose/parse.go
  internal/compose/parse_test.go
  internal/register/agent.go
  internal/register/agents.go
  internal/register/agents_test.go
  internal/register/prune_test.go
Due: documentation-link-check

feat(register): 計画外になった gateway 配下エントリの削除（prune)を追加 (#172)
  CHANGELOG.md
  README.md
  cmd/mcp-docker/interactive.go
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/compose/parse.go
  internal/compose/parse_test.go
  internal/register/agent.go
  internal/register/agents.go
  internal/register/agents_test.go
  internal/register/prune_test.go
Due: documentation-link-check

chore: bump version to 2.14.0
  CHANGELOG.md
  Makefile
  cmd/mcp-docker/main.go
Due: documentation-link-check

docs: clarify that prune targets are based on definition files
  CHANGELOG.md
  README.md
  cmd/mcp-docker/main.go
  internal/register/agent.go
Due: documentation-link-check

refactor: cache agent list entries to prevent duplicate calls
  CHANGELOG.md
  cmd/mcp-docker/main.go
  internal/register/agent.go
  internal/register/agent_test.go
Due: documentation-link-check

refactor: pass existing entries list to avoid decorator-related type assertion issues
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/register/agent.go
  internal/register/agent_test.go
  internal/register/agents_test.go
  internal/register/prune_test.go
Due: none

refactor: optimize list calls, add error context, remove unused param, and add test
  CHANGELOG.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/register/agent.go
  internal/register/prune_test.go
Due: documentation-link-check

release: v2.14.0 (#174)
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/register/agent.go
  internal/register/agents_test.go
  internal/register/prune_test.go
Due: documentation-link-check

fix(register): add timeout for agent CLI registration commands to prevent hang on OAuth cancel/failure (#175)
  CHANGELOG.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
Due: documentation-link-check

test(register): fix path lookup and permission for dummy test binary on non-windows platform
  cmd/mcp-docker/main_test.go
Due: none

test(register): add TestGetRegisterTimeout to improve test coverage
  cmd/mcp-docker/main_test.go
Due: none

fix(register): ensure exact context timeout detection and delay prune timeout
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/register/runner.go
Due: none

test(register): add more timeout test cases to achieve 100% patch coverage
  cmd/mcp-docker/main_test.go
Due: none

feat: enable github token auto rotation by default (#178)
  .env.template
  CHANGELOG.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs(env): add OAuth restriction note for token rotation (#178)
  .env.template
Due: none

fix: align gateway upstream MCP paths
  CHANGELOG.md
  docker-compose.yml
  internal/compose/parse_test.go
Due: docker-environment-check, documentation-link-check

feat: Add default auth context and token envs for review-raven
  docker-compose.yml
  internal/compose/parse_test.go
Due: docker-environment-check

docs(changelog): add entry for PR#182 auth=none env injection
  CHANGELOG.md
Due: documentation-link-check

docs: document GitHub App gateway migration
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

feat: upstream OAuth 委任と OIDC AS（builtin）を Compose に統合 (#185)
  .env.template
  CHANGELOG.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs: レビュー指摘対応 — :main デフォルト化・upstream_oauth への記述更新
  Makefile
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs(Makefile): :main デフォルトの意図を明記（upstream_oauth が :latest 未収録のため）
  Makefile
Due: none

feat: upstream OAuth 委任と OIDC AS（builtin）を Compose に統合 (#186)
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

refactor: Cloudflare MCP を upstream_oauth 委任から直接接続方式に変更
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  config/mcp-external.yml
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs: tokenEnv を含む例で非 Codex クライアントが登録スキップされる旨を明示
  README.md
  config/mcp-external.yml
Due: documentation-link-check

refactor: Cloudflare MCP を upstream_oauth 委任から直接接続方式に変更 (#187)
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  config/mcp-external.yml
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

chore: release v2.15.0
  CHANGELOG.md
  Makefile
Due: documentation-link-check

docs: CHANGELOG 参照リンク定義に v2.15.0 を追加
  CHANGELOG.md
Due: documentation-link-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

