Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$


feat: GitHub Actions ワークフローログ取得MCPサーバーを追加
  .mcp-github-actions.json
  pyproject.toml
  src/mcp_github_actions/README.md
  src/mcp_github_actions/__init__.py
  src/mcp_github_actions/github_api.py
  src/mcp_github_actions/server.py
  src/mcp_github_actions/test_api.py
Due: actions-simulator-unit-tests, actions-simulator-config-check, documentation-link-check, version-consistency-check

fix: BaseModelサブクラスのmypy警告を抑制
  pyproject.toml
  src/mcp_github_actions/__init__.py
  src/mcp_github_actions/github_api.py
  src/mcp_github_actions/server.py
  src/mcp_github_actions/test_api.py
Due: actions-simulator-unit-tests, actions-simulator-config-check, version-consistency-check

feat: GitHub Actions ワークフローログ取得MCPサーバー (#25)
  .mcp-github-actions.json
  pyproject.toml
  src/mcp_github_actions/README.md
  src/mcp_github_actions/__init__.py
  src/mcp_github_actions/github_api.py
  src/mcp_github_actions/server.py
  src/mcp_github_actions/test_api.py
Due: actions-simulator-unit-tests, actions-simulator-config-check, documentation-link-check, version-consistency-check

fix: cli.pyにmain関数を追加してuv tool installを修正
  cli.py
Due: none

fix: actionsサービスをrun-actions.shに修正
  main.py
  src/actions/cli.py
Due: actions-simulator-unit-tests, actions-simulator-config-check, version-consistency-check

docs: run-actions.shの実際の仕様に合わせてUV_TOOL_INSTALL.mdを修正
  docs/UV_TOOL_INSTALL.md
Due: documentation-link-check

fix: actionsサービスでカレントディレクトリを保持してexit codeを正しく返す
  main.py
Due: actions-simulator-config-check, version-consistency-check

feat: Add log analyzer for identifying failure causes in actions
  docs/QUICK_START_ACTIONS.md
  docs/UV_TOOL_INSTALL.md
  docs/UV_TOOL_PATH_RESOLUTION.md
  main.py
  pyproject.toml
  scripts/run-actions.sh
  services/github_release_watcher/comparator.py
  src/actions/cli.py
  src/actions/log_analyzer.py
  src/mcp_github_actions/README.md
  src/mcp_github_actions/test_api.py
  tests/e2e/test_comprehensive_distribution.py
  tests/integration/services/test_actions_simulator_service.py
  tests/integration/services/test_github_actions_api.py
  tests/integration/services/test_service_integration.py
Due: actions-simulator-unit-tests, actions-simulator-config-check, documentation-link-check, version-consistency-check

feat: GitHub MCP Server専用環境に簡素化
  .amazonq/agents/default.json
  .github/dependabot.yml
  .github/workflows/basic-test.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/lint-test.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  Makefile
  README.md
  docker-compose.override.yml.example
  docker-compose.yml
  sbom-cyclonedx.json
  sbom-spdx.json
  scripts/generate-ide-config.sh
  scripts/health-check.sh
  scripts/lint-shell.sh
  tests/shell/test_scripts.bats
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

fix: pyproject.tomlから不要なファイル参照を削除
  pyproject.toml
Due: actions-simulator-config-check, version-consistency-check

feat: ci-helperの設定ファイルとサンプルを追加
  .actrc.example
  .gitignore
  ci-helper.toml.example
Due: none

fix: Python関連の不要なファイルとCIジョブを削除
  .github/workflows/lint-test.yml
  pyproject.toml
Due: actions-workflow-validation, actions-simulator-config-check, version-consistency-check

docs: v2.0.0 CHANGELOG追加
  CHANGELOG.md
Due: documentation-link-check

docs: 関連プロジェクトセクション追加
  README.md
Due: documentation-link-check

feat: default.jsonを.gitignoreに追加
  .amazonq/agents/default.json
  .gitignore
Due: none

Delete .amazonq/agents directory
  .amazonq/agents/default.json
Due: none

fix: .gitignoreからuv.lockを削除
  .gitignore
Due: none

chore: update .gitignore (setup from templates)
  .gitignore
Due: none

fix: docker-compose.ymlの不要な空行を削除し、ヘルスチェックを無効化
  docker-compose.yml
Due: docker-environment-check

fix: renovate.jsonの設定を推奨からカスタム設定に変更
  renovate.json
Due: none

chore: update renovate.json
  renovate.json
Due: none

feat: セキュリティスキャンワークフローを追加し、イメージのバージョンを固定
  .env.template
  .github/workflows/security.yml
  CHANGELOG.md
  README.md
  docker-compose.yml
  examples/github-mcp/docker-compose.yml
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

chore: stabilize security workflow
  .github/workflows/security.yml
  .trivyignore
Due: actions-workflow-validation

feat: Pythonファイルの検出を追加し、CodeQL分析の条件を更新
  .github/workflows/security.yml
Due: actions-workflow-validation

feat: GitHub MCP Serverイメージをプルするためのチェックアウトステップを追加
  .github/workflows/security.yml
Due: actions-workflow-validation

Update renovate.json to simplify presets
  renovate.json
Due: none

Update GitHub MCP Server to v0.30.2 - fixes 4 CVEs (1 Critical, 3 High) (#36)
  .github/workflows/security.yml
  CHANGELOG.md
  README.md
  docker-compose.yml
  examples/github-mcp/docker-compose.yml
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

Fix critical OpenSSL vulnerabilities in GitHub MCP Server image (#38)
  .dockerignore
  .env.template
  .github/workflows/security.yml
  .gitignore
  CHANGELOG.md
  Dockerfile.github-mcp-server
  Makefile
  README.md
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  examples/github-mcp/docker-compose.yml
  scripts/setup.sh
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

Add prepare-only bootstrap flow for MCP maintenance
  Makefile
  README.md
  scripts/health-check.sh
  scripts/setup.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

Revert "Fix critical OpenSSL vulnerabilities in GitHub MCP Server image (#38)"
  .dockerignore
  .env.template
  .github/workflows/security.yml
  .gitignore
  CHANGELOG.md
  Dockerfile.github-mcp-server
  Makefile
  README.md
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  examples/github-mcp/docker-compose.yml
  scripts/setup.sh
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

Fix placeholder token detection, API URL configuration, and container state validation (#40)
  README.md
  scripts/health-check.sh
  scripts/setup.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

Add maintenance bootstrap mode for MCP server setup (#39)
  Makefile
  README.md
  scripts/health-check.sh
  scripts/setup.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

feat: switch github-mcp docker setup to http transport
  .env.template
  .github/workflows/security.yml
  .mcp.json.example
  CHANGELOG.md
  Dockerfile.github-mcp-server
  Makefile
  README.md
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  examples/github-mcp/docker-compose.yml
  scripts/generate-ide-config.sh
  scripts/health-check.sh
  scripts/setup.sh
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

fix: address review feedback on digest pinning, error handling, and docker compose v2 (#42)
  Dockerfile.github-mcp-server
  docs/SECURITY_PATCHES.md
  scripts/generate-ide-config.sh
  scripts/health-check.sh
Due: documentation-link-check

feat: adopt HTTP transport for github-mcp-server (#41)
  .env.template
  .github/workflows/security.yml
  .mcp.json.example
  CHANGELOG.md
  Dockerfile.github-mcp-server
  Makefile
  README.md
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  examples/github-mcp/docker-compose.yml
  scripts/generate-ide-config.sh
  scripts/health-check.sh
  scripts/setup.sh
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

fix: unify MCP HTTP port handling with env fallback
  CHANGELOG.md
  README.md
  docker-compose.yml
  examples/github-mcp/docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs: use GITHUB_MCP_HTTP_PORT in README curl and troubleshooting examples (#44)
  README.md
Due: documentation-link-check

fix: unify GITHUB_MCP_HTTP_PORT handling across compose and scripts (#43)
  CHANGELOG.md
  README.md
  docker-compose.yml
  examples/github-mcp/docker-compose.yml
Due: docker-environment-check, documentation-link-check
