Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

fix(copilot-review-mcp): Token レスポンスに expires_in を追加して認証切れを防ぐ
  services/copilot-review-mcp/cmd/server/main.go
  services/copilot-review-mcp/internal/auth/handler.go
Due: none

fix(auth): expires_in の秒計算を float64 経由から整数演算に変更
  services/copilot-review-mcp/internal/auth/handler.go
Due: none

feat(github-oauth-proxy): mcp-remote 経由 Claude Desktop 接続用 OAuth プロキシを新設
  .env.template
  CHANGELOG.md
  docker-compose.yml
  scripts/generate-ide-config.sh
  services/github-oauth-proxy/Dockerfile
  services/github-oauth-proxy/cmd/server/main.go
  services/github-oauth-proxy/go.mod
  services/github-oauth-proxy/internal/auth/handler.go
  services/github-oauth-proxy/internal/auth/session.go
  services/github-oauth-proxy/internal/middleware/auth.go
  services/github-oauth-proxy/internal/proxy/handler.go
Due: docker-environment-check, documentation-link-check

fix(github-oauth-proxy): Copilot レビュー指摘を修正
  scripts/generate-ide-config.sh
  services/github-oauth-proxy/cmd/server/main.go
  services/github-oauth-proxy/internal/proxy/handler.go
Due: none

fix(github-oauth-proxy): Copilot 再レビュー指摘を修正
  scripts/generate-ide-config.sh
  scripts/health-check.sh
  tests/shell/test_scripts.bats
Due: none

Improve OAuth startup flow and docs
  Makefile
  README.md
Due: documentation-link-check

Address review comments for OAuth flow docs and Makefile
  Makefile
  README.md
Due: documentation-link-check

OAuth起動フローとドキュメント改善 (#46)
  Makefile
  README.md
Due: documentation-link-check

fix(auth): GitHubトークン認証切れの3つの原因を修正
  services/copilot-review-mcp/cmd/server/main.go
  services/copilot-review-mcp/internal/auth/handler.go
  services/copilot-review-mcp/internal/auth/session.go
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/tools/server.go
  services/github-oauth-proxy/cmd/server/main.go
Due: none

fix(tools): inv が nil の場合の panic を防ぐ nil ガードを追加
  services/copilot-review-mcp/internal/tools/server.go
Due: none

fix(auth): GitHubトークン認証切れの3つの原因を修正 (#51)
  services/copilot-review-mcp/cmd/server/main.go
  services/copilot-review-mcp/internal/auth/handler.go
  services/copilot-review-mcp/internal/auth/session.go
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/tools/server.go
  services/github-oauth-proxy/cmd/server/main.go
Due: none

fix(copilot-review-mcp): RequestCopilotReview を GraphQL mutation へ移行 (#52)
  CHANGELOG.md
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/github/client_test.go
Due: documentation-link-check

fix(copilot-review-mcp): RequestCopilotReview を GraphQL mutation へ移行 (#52) (#53)
  CHANGELOG.md
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/github/client_test.go
Due: documentation-link-check

chore: .claude/ ディレクトリを .gitignore に追加
  .gitignore
Due: none

chore: .claude/ ディレクトリを .gitignore に追加 (#54)
  .gitignore
Due: none

docs(copilot-review-mcp): ISSUEタスク一覧と推奨消化順を追加
  docs/copilot-review-mcp-tasks.md
Due: documentation-link-check

docs(copilot-review-mcp): レビュー指摘に対応 - フィールド名を実際のスキーマに合わせて修正
  docs/copilot-review-mcp-tasks.md
Due: documentation-link-check

docs(copilot-review-mcp): ISSUEタスク一覧と推奨消化順を追加 (#59)
  docs/copilot-review-mcp-tasks.md
Due: documentation-link-check

fix(copilot-review-mcp): TIMEOUT後の余分なAPIコールとCANCEL時の情報欠落を修正 (#56)
  services/copilot-review-mcp/internal/tools/wait.go
Due: none

improvement(copilot-review-mcp): ci_all_success自動取得とlast_comment_at自動算出を実装 (#57)
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/tools/cycle.go
Due: none

refactor(copilot-review-mcp): スレッド分類をMCPから削除しLLMルールファイルベースへ移行 (#55 #58)
  services/copilot-review-mcp/internal/tools/cycle.go
  services/copilot-review-mcp/internal/tools/status.go
  services/copilot-review-mcp/internal/tools/threads.go
Due: none

fix(copilot-review-mcp): コンテキストキャンセル検出とCANCELLEDステータスの説明追記
  services/copilot-review-mcp/internal/tools/wait.go
Due: none

fix(copilot-review-mcp): buildCancelledOutput導入でCANCELLED応答を統一し初回ポーリング前キャンセルも対応
  services/copilot-review-mcp/internal/tools/wait.go
Due: none

fix(copilot-review-mcp): TIMEOUT後の余分なAPIコールとCANCELL時の情報欠落を修正 (#60)
  services/copilot-review-mcp/internal/tools/wait.go
Due: none

fix(copilot-review-mcp): Copilotレビューサイクルのロジック修正3件 (#57 follow-up)
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/github/client_test.go
  services/copilot-review-mcp/internal/tools/cycle.go
Due: none

test(copilot-review-mcp): ページネーションテスト追加・LastCommentAtコメント修正
  services/copilot-review-mcp/internal/github/client_test.go
  services/copilot-review-mcp/internal/tools/cycle.go
Due: none

fix(copilot-review-mcp): CI自動取得・last_comment_at自動算出を実装 (#61)
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/github/client_test.go
  services/copilot-review-mcp/internal/tools/cycle.go
Due: none

fix(copilot-review-mcp): terminateCond notes 文言を実際のロジックに合わせて更新
  services/copilot-review-mcp/internal/tools/cycle.go
Due: none

refactor(copilot-review-mcp): スレッド分類をMCPから削除しLLMルールファイルベースへ移行 (#55 #58) (#62)
  services/copilot-review-mcp/internal/tools/cycle.go
  services/copilot-review-mcp/internal/tools/status.go
  services/copilot-review-mcp/internal/tools/threads.go
Due: none

fix(ci): pin github-mcp-server ref for security scan
  .github/workflows/security.yml
  Dockerfile.github-mcp-server
Due: actions-workflow-validation

fix(ci): centralize pinned upstream ref default
  .github/workflows/security.yml
Due: actions-workflow-validation

fix(ci): pin github-mcp-server ref for security scan (#70)
  .github/workflows/security.yml
  Dockerfile.github-mcp-server
Due: actions-workflow-validation

docs: add copilot-review async watch redesign plan
  docs/copilot-review-mcp-tasks.md
  docs/design/copilot-review-watch-redesign.md
Due: documentation-link-check

docs: add copilot-review async watch redesign plan (#69)
  docs/copilot-review-mcp-tasks.md
  docs/design/copilot-review-watch-redesign.md
Due: documentation-link-check

feat: add memory-only review watch manager
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/middleware/auth.go
  services/copilot-review-mcp/internal/tools/server.go
  services/copilot-review-mcp/internal/tools/watch.go
  services/copilot-review-mcp/internal/watch/manager.go
  services/copilot-review-mcp/internal/watch/manager_test.go
Due: none

fix: address review watch feedback
  services/copilot-review-mcp/internal/tools/watch.go
  services/copilot-review-mcp/internal/tools/watch_test.go
  services/copilot-review-mcp/internal/watch/manager.go
  services/copilot-review-mcp/internal/watch/manager_test.go
Due: none

fix: harden review watch lifecycle
  services/copilot-review-mcp/internal/watch/manager.go
  services/copilot-review-mcp/internal/watch/manager_test.go
Due: none

fix: close shared watch manager on shutdown
  services/copilot-review-mcp/cmd/server/main.go
  services/copilot-review-mcp/internal/tools/server.go
  services/copilot-review-mcp/internal/tools/server_test.go
  services/copilot-review-mcp/internal/watch/manager.go
  services/copilot-review-mcp/internal/watch/manager_test.go
Due: none

fix: normalize watch poll accounting
  services/copilot-review-mcp/internal/watch/manager.go
  services/copilot-review-mcp/internal/watch/manager_test.go
Due: none

feat: add memory-only copilot review watch manager (#71)
  services/copilot-review-mcp/cmd/server/main.go
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/middleware/auth.go
  services/copilot-review-mcp/internal/tools/server.go
  services/copilot-review-mcp/internal/tools/server_test.go
  services/copilot-review-mcp/internal/tools/watch.go
  services/copilot-review-mcp/internal/tools/watch_test.go
  services/copilot-review-mcp/internal/watch/manager.go
  services/copilot-review-mcp/internal/watch/manager_test.go
Due: none

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

