Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

feat(skill): use review-raven metadata projection (#279)
  CHANGELOG.md
  docs/issue-258-skill-tool-inventory.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
Due: documentation-link-check

chore(release): prepare v2.21.1
  CHANGELOG.md
  Makefile
Due: documentation-link-check

chore(release): prepare v2.21.1 (#280)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

fix: derive CLI version from Go build metadata
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  cmd/mcp-docker/skill.go
  cmd/mcp-docker/version.go
  cmd/mcp-docker/version_test.go
Due: actions-workflow-validation, documentation-link-check

fix: derive CLI version from Go build metadata (#282)
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  cmd/mcp-docker/skill.go
  cmd/mcp-docker/version.go
  cmd/mcp-docker/version_test.go
Due: actions-workflow-validation, documentation-link-check

chore(release): prepare v2.21.2
  CHANGELOG.md
Due: documentation-link-check

chore(release): prepare v2.21.2 (#283)
  CHANGELOG.md
Due: documentation-link-check

fix: pass repository to release command
  .github/workflows/release.yml
Due: actions-workflow-validation

fix: pass repository to release command (#284)
  .github/workflows/release.yml
Due: actions-workflow-validation

ci: standardize release page formatting
  .github/workflows/release.yml
  scripts/generate-release-notes.sh
  tests/shell/test_release_notes.bats
Due: actions-workflow-validation

fix: normalize release note spacing
  scripts/generate-release-notes.sh
Due: none

test: fix release notes test variable collision
  tests/shell/test_release_notes.bats
Due: none

fix: satisfy release notes shell lint
  scripts/generate-release-notes.sh
Due: none

ci: standardize release page formatting (#285)
  .github/workflows/release.yml
  scripts/generate-release-notes.sh
  tests/shell/test_release_notes.bats
Due: actions-workflow-validation

chore: prepare v2.21.3 release
  CHANGELOG.md
Due: documentation-link-check

chore: prepare v2.21.3 release (#286)
  CHANGELOG.md
Due: documentation-link-check

feat(skill): define Codecov evaluation and gate criteria
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
Due: documentation-link-check

feat(skill): define Codecov evaluation and gate criteria (#288)
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
Due: documentation-link-check

fix(skill): verify thread-owl verdict format against a shared rule
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
  skills_test.go
Due: documentation-link-check

feat(skill): wait for thread-owl review completion via review status
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
  skills_test.go
Due: documentation-link-check

fix(skill): resolve subscriber URL and verify reviewed head in Phase W
  CHANGELOG.md
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
Due: documentation-link-check

feat(skill): wait for thread-owl review completion via review status (#293)
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
  skills_test.go
Due: documentation-link-check

chore: prepare v2.22.0 release
  CHANGELOG.md
Due: documentation-link-check

fix(skill): read check runs by head SHA for CI decisions
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
Due: documentation-link-check

chore: prepare v2.22.0 release (#294)
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
Due: documentation-link-check

feat(skill): CI check runs の第一選択を list_check_runs_for_sha にする
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
Due: documentation-link-check

chore: prepare v2.23.0 release
  CHANGELOG.md
Due: documentation-link-check

feat(skills): reviewer skill の Verdict 投稿経路を post_review_verdict に切り替える
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
  skills_test.go
Due: documentation-link-check

fix(skills): Phase W の前提を thread-owl v0.5.0 以降に引き上げる
  CHANGELOG.md
  skills/review-raven-thread-owl-cycle/SKILL.md
Due: documentation-link-check

feat(skills): reviewer skill の Verdict 投稿経路を post_review_verdict に切り替える (#300)
  CHANGELOG.md
  skills/catalog.json
  skills/review-raven-thread-owl-cycle/SKILL.md
  skills/thread-owl-pr-reviewer/SKILL.md
  skills_test.go
Due: documentation-link-check

chore: prepare v2.24.0 release
  CHANGELOG.md
Due: documentation-link-check

chore: prepare v2.24.0 release (#301)
  CHANGELOG.md
Due: documentation-link-check

feat: add user instruction source linking (#302)
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/instruction.go
  cmd/mcp-docker/instruction_test.go
  cmd/mcp-docker/main.go
  docs/architecture-review-platform.md
  docs/instruction-source.md
  internal/instruction/client.go
  internal/instruction/config.go
  internal/instruction/instruction_test.go
  internal/instruction/link.go
Due: documentation-link-check

test: cover instruction source edge cases (#302)
  internal/instruction/instruction_test.go
Due: none

fix: harden instruction source linking (#302)
  CHANGELOG.md
  README.md
  cmd/mcp-docker/instruction.go
  cmd/mcp-docker/instruction_test.go
  docs/architecture-review-platform.md
  docs/instruction-source.md
  internal/instruction/config.go
  internal/instruction/instruction_test.go
  internal/instruction/link.go
Due: documentation-link-check

fix: protect instruction target races (#302)
  CHANGELOG.md
  README.md
  docs/architecture-review-platform.md
  docs/instruction-source.md
  internal/instruction/instruction_test.go
  internal/instruction/link.go
Due: documentation-link-check

feat(config): ユーザー管理のinstruction sourceを各CLI入口へリンク (#303)
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/instruction.go
  cmd/mcp-docker/instruction_test.go
  cmd/mcp-docker/main.go
  docs/architecture-review-platform.md
  docs/instruction-source.md
  internal/instruction/client.go
  internal/instruction/config.go
  internal/instruction/instruction_test.go
  internal/instruction/link.go
Due: documentation-link-check

chore: prepare v2.25.0 release
  CHANGELOG.md
Due: documentation-link-check

chore: prepare v2.25.0 release (#304)
  CHANGELOG.md
Due: documentation-link-check

docs: align agy legacy adapter route documentation
  CHANGELOG.md
  docs/agy-legacy-adapter.md
Due: documentation-link-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

