Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

docs: align e2e-runbook help expected output with current CLI
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

chore: prepare v2.9.1 release
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

chore: docs runbook help fix + prepare v2.9.1 release (#142)
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

feat: lefthookおよびlint設定の厳格化
  .github/workflows/lint-test.yml
  .golangci.yml
  .shellcheckrc
  Makefile
  cmd/mcp-docker/main.go
  lefthook.yml
  scripts/lint-shell.sh
Due: actions-workflow-validation

fix: shellcheck/yamllint未インストール時は警告してスキップ（Windowsローカル対応）
  lefthook.yml
  scripts/lint-shell.sh
Due: none

fix: lint-goターゲットの複数行シェル構文をワンライナーに簡素化
  Makefile
Due: none

fix: lefthookヘルパースクリプトを導入（shellquoting問題を解消）
  .github/workflows/lint-test.yml
  .shellcheckrc
  Makefile
  lefthook.yml
  scripts/pre-commit-shellcheck.sh
  scripts/pre-commit-yamllint.sh
Due: actions-workflow-validation

fix: address Copilot review feedback on lint strictification
  .github/workflows/lint-test.yml
  lefthook.yml
  scripts/lint-shell.sh
Due: actions-workflow-validation

fix(ci): golangci-lint を v2.12.2 に更新（Go 1.26.3 対応）
  .github/workflows/lint-test.yml
Due: actions-workflow-validation

feat: lefthookおよびlint設定の厳格化 (#144)
  .github/workflows/lint-test.yml
  .golangci.yml
  .shellcheckrc
  Makefile
  cmd/mcp-docker/main.go
  lefthook.yml
  scripts/lint-shell.sh
  scripts/pre-commit-shellcheck.sh
  scripts/pre-commit-yamllint.sh
Due: actions-workflow-validation

feat: migrate to OAUTH_* env vars for mcp-gateway v0.4.0
  .env.template
  docker-compose.yml
Due: docker-environment-check

fix: v0.4.0 未満ゲートウェイとの後方互換を確保
  .env.template
  docker-compose.yml
Due: docker-environment-check

docs: .env.template の GATEWAY_IMAGE 注記を修正（後方互換条件を明確化）
  .env.template
Due: none

feat: mcp-gateway v0.4.0 対応 — OAUTH_* 環境変数への移行 (#147)
  .env.template
  docker-compose.yml
Due: docker-environment-check

chore: add v2.10.0 changelog entry
  CHANGELOG.md
Due: documentation-link-check

chore: add v2.10.0 changelog entry (#148)
  CHANGELOG.md
Due: documentation-link-check

feat: add Cloudflare Remote MCP provider support (Mcp-Docker #146)
  .env.template
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

fix: update CHANGELOG reference links for v2.11.0
  CHANGELOG.md
Due: documentation-link-check

fix: use fail-closed syntax for CLOUDFLARE_API_TOKEN in docker-compose.yml
  docker-compose.yml
Due: docker-environment-check

docs: align README snippet with fail-closed :? syntax in docker-compose.yml
  README.md
Due: documentation-link-check

feat: Cloudflare Remote MCP プロバイダーサポート (Closes #146)
  .env.template
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

feat: enable Cloudflare Remote MCP routing
  docker-compose.yml
Due: docker-environment-check

fix: env-var-driven Cloudflare routing + GPAT nested expansion fix
  .env.template
  Makefile
  docker-compose.yml
Due: docker-environment-check

fix: env-var-driven Cloudflare routing + GPAT nested expansion fix (#151)
  .env.template
  Makefile
  docker-compose.yml
Due: docker-environment-check

chore: release v2.12.0
  CHANGELOG.md
  Makefile
Due: documentation-link-check

fix: bump embedded version to 2.12.0 and fix CHANGELOG links
  CHANGELOG.md
  cmd/mcp-docker/main.go
Due: documentation-link-check

chore: release v2.12.0 (#152)
  CHANGELOG.md
  Makefile
  cmd/mcp-docker/main.go
Due: documentation-link-check

fix: Makefile の日本語 echo が Windows 環境で文字化けする問題を修正
  Makefile
Due: none

fix: Linux/macOS regression + make-internal Japanese messages
  Makefile
Due: none

fix: Makefile の日本語 echo が Windows 環境で文字化けする問題を修正 (#154)
  Makefile
Due: none

feat: add thread-owl MCP server to docker-compose
  docker-compose.yml
Due: docker-environment-check

feat: thread-owl に GITHUB_WEBHOOK_SECRET 環境変数を追加
  docker-compose.yml
Due: docker-environment-check

feat: thread-owl に GITHUB_WEBHOOK_SECRET 環境変数を追加 (#156)
  docker-compose.yml
Due: docker-environment-check

fix(ci): codecov-action を v6.0.2(SHA固定) に更新し fail_ci_if_error を true に復元
  .github/workflows/lint-test.yml
Due: actions-workflow-validation

fix(ci): codecov-action を v6.0.2(SHA固定) に更新し fail_ci_if_error を true に復元 (#157)
  .github/workflows/lint-test.yml
Due: actions-workflow-validation

docs: review platform における Mcp-Docker の責務を明文化 (#158)
  CHANGELOG.md
  README.md
  docs/architecture-review-platform.md
Due: documentation-link-check

docs: architecture doc を目標/現状で区別しレビュー指摘を反映 (#158)
  docs/architecture-review-platform.md
Due: documentation-link-check

docs: review platform における Mcp-Docker の責務を明文化 (#158) (#160)
  CHANGELOG.md
  README.md
  docs/architecture-review-platform.md
Due: documentation-link-check

refactor: copilot-review-mcp 参照を review-raven へ移行 (#159)
  .env.template
  .github/copilot-instructions.md
  CHANGELOG.md
  Makefile
  README.md
  SECURITY.md
  cmd/mcp-docker/main_test.go
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  docs/architecture-review-platform.md
  docs/e2e-runbook-mcp-docker-cli.md
  docs/skills/pr-review-cycle.md
  internal/compose/parse_test.go
  scripts/health-check.sh
Due: docker-environment-check, documentation-link-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

