Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

docs(#83): PR #84 実測観測結果を observation-sheet に記録する
  docs/observations/observation-sheet.md
Due: documentation-link-check

fix(observation): Copilot スレッド4件の指摘を修正する
  docs/observations/README.md
  scripts/verify-review-status.sh
Due: documentation-link-check

fix(observation): --slurp+--jq 非対応を jq -s パイプ方式に修正する
  scripts/verify-review-status.sh
Due: none

docs(observation): rereview サイクル観測結果と全ログを追加する
  .gitignore
  docs/observations/completed-pr84-20260424T010136Z.log
  docs/observations/not-requested-pr84-20260424T005841Z.log
  docs/observations/observation-sheet.md
  docs/observations/pending-pr84-20260424T010005Z.log
  docs/observations/ready-pr84-20260424T005911Z.log
  docs/observations/rereview-completed-pr84-20260424T011611Z.log
  docs/observations/rereview-pr84-20260424T011151Z.log
  docs/observations/rereview-pr84-20260424T011332Z.log
Due: documentation-link-check

fix(observation): Copilot 2サイクル目指摘2件を修正する
  docs/observations/observation-sheet.md
  scripts/verify-review-status.sh
Due: documentation-link-check

feat(observation): ISSUE #83 検証フェーズ — 観測スクリプトと記録を追加する (#84)
  .gitignore
  docs/observations/README.md
  docs/observations/completed-pr84-20260424T010136Z.log
  docs/observations/not-requested-pr84-20260424T005841Z.log
  docs/observations/observation-sheet.md
  docs/observations/pending-pr84-20260424T010005Z.log
  docs/observations/ready-pr84-20260424T005911Z.log
  docs/observations/rereview-completed-pr84-20260424T011611Z.log
  docs/observations/rereview-pr84-20260424T011151Z.log
  docs/observations/rereview-pr84-20260424T011332Z.log
  scripts/verify-review-status.sh
Due: documentation-link-check

fix(copilot-review-mcp): event-based PENDING/IN_PROGRESS detection (#83)
  services/copilot-review-mcp/internal/github/client.go
  services/copilot-review-mcp/internal/github/client_test.go
  services/copilot-review-mcp/internal/watch/manager.go
Due: none

perf(copilot-review-mcp): skip timeline fetch when Copilot not in reviewers
  services/copilot-review-mcp/internal/github/client.go
Due: none

fix(copilot-review-mcp): fetch timeline also when LatestCopilotReview exists
  services/copilot-review-mcp/internal/github/client.go
Due: none

fix: deep-research指摘事項の対応
  .env.template
  .github/copilot-instructions.md
  .github/workflows/codeql.yml
  .github/workflows/security.yml
  README.md
  docker-compose.yml
  docs/SECURITY_PATCHES.md
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

fix: Copilotレビュー指摘事項の対応
  .github/copilot-instructions.md
  .github/workflows/security.yml
  docs/SECURITY_PATCHES.md
Due: actions-workflow-validation, documentation-link-check

feat: Codecov カバレッジ設定を追加
  .github/workflows/lint-test.yml
Due: actions-workflow-validation

fix: address 2nd Copilot review - fork secrets, c8 pin, CodeQL Go setup, volume UID
  .github/workflows/codeql.yml
  .github/workflows/lint-test.yml
  docker-compose.yml
Due: actions-workflow-validation, docker-environment-check

fix: deep-research 指摘事項の対応（CI/CD スコープ・バージョン情報・永続化）
  .env.template
  .github/copilot-instructions.md
  .github/workflows/codeql.yml
  .github/workflows/lint-test.yml
  .github/workflows/security.yml
  README.md
  docker-compose.yml
  docs/SECURITY_PATCHES.md
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

chore: go-sdk を v1.3.1 から v1.5.0 に更新し互換パッチを除去する
  .github/workflows/security.yml
  Dockerfile.github-mcp-server
Due: actions-workflow-validation

docs: Copilot レビュー指摘に対応する（セキュリティコメント・ドキュメント整合）
  Dockerfile.github-mcp-server
  docs/SECURITY_PATCHES.md
  docs/design/pr-review-thread-list-design.md
Due: documentation-link-check

chore: go-sdk を v1.3.1 から v1.5.0 に更新し互換パッチを除去する (#88)
  .github/workflows/security.yml
  Dockerfile.github-mcp-server
  docs/SECURITY_PATCHES.md
  docs/design/pr-review-thread-list-design.md
Due: actions-workflow-validation, documentation-link-check

chore: github-mcp-server(patched) の削除（copilot-review-mcp への移行完了）
  .github/copilot-instructions.md
  .github/workflows/security.yml
  CHANGELOG.md
  Dockerfile.github-mcp-server
  Makefile
  README.md
  docker-compose.custom.yml
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  docs/design/pr-review-thread-list-design.md
  patches/github/list_pr_review_threads.go
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

fix: Copilot レビュー指摘対応（security scan 復元・README 残存参照除去）
  .github/workflows/security.yml
  README.md
  docs/SECURITY_PATCHES.md
Due: actions-workflow-validation, documentation-link-check

chore: github-mcp-server(patched) の削除（copilot-review-mcp への移行完了） (#91)
  .github/copilot-instructions.md
  .github/workflows/security.yml
  CHANGELOG.md
  Dockerfile.github-mcp-server
  Makefile
  README.md
  docker-compose.custom.yml
  docker-compose.yml
  docs/SECURITY_PATCHES.md
  docs/design/pr-review-thread-list-design.md
  patches/github/list_pr_review_threads.go
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

chore: mcp-http-bridge の削除（全 IDE が OAuth proxy / HTTP 直接接続に移行済み）
  .github/copilot-instructions.md
  .github/workflows/lint-test.yml
  CHANGELOG.md
  README.md
  bin/mcp-http-bridge.js
  package.json
  scripts/generate-ide-config.sh
  scripts/verify-bridge-e2e.js
  scripts/verify-mcp-endpoint.js
  src/mcp-http-bridge.js
  tests/node/mcp-http-bridge.test.js
Due: actions-simulator-unit-tests, actions-workflow-validation, documentation-link-check

fix(docs): address Copilot review feedback on mcp-http-bridge removal
  .github/copilot-instructions.md
  README.md
  scripts/verify-mcp-endpoint.js
Due: documentation-link-check

chore: mcp-http-bridge を削除する (#92)
  .github/copilot-instructions.md
  .github/workflows/lint-test.yml
  CHANGELOG.md
  README.md
  bin/mcp-http-bridge.js
  package.json
  scripts/generate-ide-config.sh
  scripts/verify-bridge-e2e.js
  scripts/verify-mcp-endpoint.js
  src/mcp-http-bridge.js
  tests/node/mcp-http-bridge.test.js
Due: actions-simulator-unit-tests, actions-workflow-validation, documentation-link-check

docs: v2.5.0 リリース準備（CHANGELOG 確定・README 設計思想追記）
  CHANGELOG.md
  README.md
Due: documentation-link-check

docs(readme): Copilot レビュー指摘を修正（設計思想セクションの表現精度向上）
  README.md
Due: documentation-link-check

fix codecov workflow guard
  .github/workflows/lint-test.yml
  .github/workflows/workflow-lint.yml
Due: actions-workflow-validation

fix: address security and performance review comments on Codecov workflow
  .github/workflows/lint-test.yml
  .github/workflows/workflow-lint.yml
Due: actions-workflow-validation

fix: Codecov workflow guard and actionlint optimization (#95)
  .github/workflows/lint-test.yml
  .github/workflows/workflow-lint.yml
Due: actions-workflow-validation

feat: github-oauth-proxy を mcp-gateway に移行
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  docker-compose.yml
  scripts/generate-ide-config.sh
  scripts/health-check.sh
  tests/shell/test_scripts.bats
Due: docker-environment-check, documentation-link-check

fix: Copilot レビュー指摘を修正
  .env.template
  CHANGELOG.md
  Makefile
  scripts/generate-ide-config.sh
  scripts/health-check.sh
Due: documentation-link-check

docs: clarify MCP_GATEWAY_BASE_URL fallback, health-check copilot-review scope, and Node.js prereq for Claude Desktop
  README.md
  scripts/generate-ide-config.sh
  scripts/health-check.sh
Due: documentation-link-check

feat: migrate from github-oauth-proxy to mcp-gateway (#107)
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  docker-compose.yml
  scripts/generate-ide-config.sh
  scripts/health-check.sh
  tests/shell/test_scripts.bats
Due: docker-environment-check, documentation-link-check

docs: update copilot-instructions.md architecture diagram and port references for mcp-gateway
  .github/copilot-instructions.md
Due: documentation-link-check

docs: add image tags and copilot-review-mcp port to copilot-instructions
  .github/copilot-instructions.md
Due: documentation-link-check

fix: update copilot-instructions.md for mcp-gateway migration (#108)
  .github/copilot-instructions.md
Due: documentation-link-check

feat: auth=none ルートで認証不要 MCP サーバを設定のみで追加できるパターンを示す (#109)
  .env.template
  CHANGELOG.md
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs: CHANGELOG に mcp-gateway#23 マージ済み記載を追加
  CHANGELOG.md
Due: documentation-link-check

fix: playwright-mcp を mcr.microsoft.com/playwright/mcp に修正、--host/--port フラグ追加
  .env.template
  README.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

chore: .mcp.json.example をゲートウェイ経由の設定に更新
  .mcp.json.example
Due: none

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

