Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

chore: release v2.15.0 (#188)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

fix: use webhook-mcp-http command for thread-owl (closes #189)
  docker-compose.yml
Due: docker-environment-check

fix(security): gateway OAuth 認証を github / review-raven / thread-owl ルートに適用
  CHANGELOG.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

test: TestRepositoryComposeMCPRouteContract を auth=none 削除後の期待値に更新
  internal/compose/parse_test.go
Due: none

test: ROUTE_GITHUB の契約テストを追加し auth=none 再混入を検知可能にする
  internal/compose/parse_test.go
Due: none

fix: credential ローテーション後の config.yaml 削除を make rotate-secret で自動化
  Makefile
  scripts/rotate-secret.sh
Due: none

fix: rotate-secret.sh の shebang 経由起動と project-scoped volume 選択に修正
  Makefile
  scripts/rotate-secret.sh
Due: none

fix: credential ローテーション後の config.yaml 削除を make rotate-secret で自動化 (#194)
  Makefile
  scripts/rotate-secret.sh
Due: none

fix: WindowsでMakeターゲットのBash解決を固定
  CHANGELOG.md
  Makefile
Due: documentation-link-check

fix: Git Bashでconfig削除パスの変換を無効化
  CHANGELOG.md
  scripts/rotate-secret.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

fix: secret削除失敗の診断を追加
  scripts/rotate-secret.sh
  tests/shell/test_scripts.bats
Due: none

fix: Windowsでrotate-secretのBashとパス解決を安定化 (#196)
  CHANGELOG.md
  Makefile
  scripts/rotate-secret.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

feat(config): ROUTE_REVIEW_RAVEN に upstream_provider_token=true を追加 (#197)
  CHANGELOG.md
  docker-compose.yml
  internal/compose/parse_test.go
Due: docker-environment-check, documentation-link-check

feat(config): ROUTE_REVIEW_RAVEN に upstream_provider_token=true を追加 (#197) (#198)
  CHANGELOG.md
  docker-compose.yml
  internal/compose/parse_test.go
Due: docker-environment-check, documentation-link-check

fix: thread-owl の起動モードを実体に合わせて --mcp-http に修正
  CHANGELOG.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

fix: thread-owl の起動モードを実体に合わせて --mcp-http に修正 (#200)
  CHANGELOG.md
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

feat: ローカルHTTPS (TLS) 接続のための自動セットアップ機能を追加 (#202)
  .env.template
  .gitignore
  CHANGELOG.md
  Makefile
  config/certs/.gitkeep
  docker-compose.yml
  scripts/health-check.sh
  scripts/setup-tls.ps1
Due: docker-environment-check, documentation-link-check

test: Windows で register タイムアウトテストが list 段階で誤検出する flaky を修正
  CHANGELOG.md
  cmd/mcp-docker/main_test.go
Due: documentation-link-check

fix: レビュー指摘対応 — register の PUBLIC_URL 追従・CA 再生成検出・エンコーディング明示 (#203)
  CHANGELOG.md
  Makefile
  internal/compose/parse.go
  internal/compose/parse_test.go
  scripts/health-check.sh
  scripts/setup-tls.ps1
Due: documentation-link-check

fix: health-check の -k 判定を authority 解析による host 完全一致に強化 (#203)
  CHANGELOG.md
  scripts/health-check.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

feat: ローカルHTTPS (TLS) 接続のための自動セットアップ機能の追加 (#203)
  .env.template
  .gitignore
  CHANGELOG.md
  Makefile
  cmd/mcp-docker/main_test.go
  config/certs/.gitkeep
  docker-compose.yml
  internal/compose/parse.go
  internal/compose/parse_test.go
  scripts/health-check.sh
  scripts/setup-tls.ps1
  tests/shell/test_scripts.bats
Due: docker-environment-check, documentation-link-check

chore: mcp-gateway デフォルトイメージを :latest に復帰
  CHANGELOG.md
  Makefile
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

chore: mcp-gateway デフォルトイメージを :latest に復帰 (#205)
  CHANGELOG.md
  Makefile
  docker-compose.yml
Due: docker-environment-check, documentation-link-check

docs: GitHub App の Web UI 作業手順を docs/github-app-setup.md に詳細化 (#207)
  .env.template
  CHANGELOG.md
  README.md
  docs/github-app-setup.md
Due: documentation-link-check

fix(register): prune の stale 判定を複数 origin 照合に拡張 (#206)
  CHANGELOG.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/compose/parse.go
  internal/compose/parse_test.go
  internal/register/agent.go
  internal/register/prune_test.go
Due: documentation-link-check

test: setup-tls.ps1 の Pester テスト基盤を整備 (#204)
  .github/workflows/lint-test.yml
  CHANGELOG.md
  PSScriptAnalyzerSettings.psd1
  scripts/lib/setup-tls-functions.ps1
  scripts/setup-tls.ps1
  tests/powershell/setup-tls.Tests.ps1
Due: actions-workflow-validation, documentation-link-check

docs: ベース URL の解決順に旧名 MCP_GATEWAY_BASE_URL を反映 (#207)
  README.md
  docs/github-app-setup.md
Due: documentation-link-check

docs: GitHub App の Web UI 作業手順を詳細ドキュメント化 (#207) (#208)
  .env.template
  CHANGELOG.md
  README.md
  docs/github-app-setup.md
Due: documentation-link-check

test(compose): GatewayOrigins のファイル読み込み経路をテストで固定 (#206)
  internal/compose/parse_test.go
Due: none

fix(register): prune の stale 判定を複数 origin 照合に拡張 (#206) (#211)
  CHANGELOG.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  internal/compose/parse.go
  internal/compose/parse_test.go
  internal/register/agent.go
  internal/register/prune_test.go
Due: documentation-link-check

test: setup-tls.ps1 の Pester テスト基盤を整備 (#204) (#212)
  .github/workflows/lint-test.yml
  CHANGELOG.md
  PSScriptAnalyzerSettings.psd1
  scripts/lib/setup-tls-functions.ps1
  scripts/setup-tls.ps1
  tests/powershell/setup-tls.Tests.ps1
Due: actions-workflow-validation, documentation-link-check

chore(release): v2.16.0 CHANGELOG
  CHANGELOG.md
  Makefile
Due: documentation-link-check

chore(release): v2.16.0 CHANGELOG (#213)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

fix(setup-tls): pwsh 未使用時のパースエラーと日本語出力の文字化けを修正
  CHANGELOG.md
  Makefile
  scripts/require-pwsh.sh
  scripts/setup-tls.ps1
  tests/shell/test_scripts.bats
Due: documentation-link-check

fix(gateway): start-gateway に thread-owl が含まれておらず restart で消失する問題を修正
  CHANGELOG.md
  Makefile
Due: documentation-link-check

fix(scripts): require-pwsh.sh に実行権限を付与
  scripts/require-pwsh.sh
Due: none

fix(setup-tls): pwsh 未使用時のパースエラーと日本語出力の文字化けを修正 (#214)
  CHANGELOG.md
  Makefile
  scripts/require-pwsh.sh
  scripts/setup-tls.ps1
  tests/shell/test_scripts.bats
Due: documentation-link-check

fix(gateway): start-gateway に thread-owl が含まれておらず restart で消失する問題を修正 (#215)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

chore(release): v2.16.1 CHANGELOG
  CHANGELOG.md
  Makefile
Due: documentation-link-check

chore(release): v2.16.1 CHANGELOG (#216)
  CHANGELOG.md
  Makefile
Due: documentation-link-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

