Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$


chore: remove mcp-gateway-init container
  docker-compose.yml
Due: docker-environment-check

chore: remove mcp-gateway-init container (#125)
  docker-compose.yml
Due: docker-environment-check

feat: add pull-main / start-main / restart-main targets
  Makefile
Due: none

fix: use ?= for MAIN image vars and stop-gateway in restart-main
  Makefile
Due: none

feat: add pull-main / start-main / restart-main targets (#126)
  Makefile
Due: none

chore align gateway E2E compose settings
  docker-compose.yml
Due: docker-environment-check

chore align gateway E2E compose settings (#127)
  docker-compose.yml
Due: docker-environment-check

fix(config): align localhost → 127.0.0.1 across config and docs (#128)
  .env.template
  Makefile
  README.md
  docker-compose.yml
  scripts/verify-mcp-endpoint.js
Due: docker-environment-check, documentation-link-check

fix(scripts): default verify URL to mcp-gateway endpoint
  scripts/verify-mcp-endpoint.js
Due: none

fix(config): align localhost → 127.0.0.1 across config and docs (#128) (#129)
  .env.template
  Makefile
  README.md
  docker-compose.yml
  scripts/verify-mcp-endpoint.js
Due: docker-environment-check, documentation-link-check

fix(gateway): add MCP_GATEWAY_BIND_ADDR for mcp-gateway v0.3.0 Docker compat
  .env.template
  docker-compose.yml
Due: docker-environment-check

fix: copilot-review-mcp v3.0.0 breaking changes (BIND_ADDR + remove obsolete env vars)
  Makefile
  docker-compose.yml
Due: docker-environment-check

fix: MCP_GATEWAY_BIND_ADDR overridable + PUBLIC_URL port-aware + script support
  docker-compose.yml
  scripts/generate-ide-config.sh
  scripts/health-check.sh
Due: docker-environment-check

fix: resolve MCP_GATEWAY_PUBLIC_URL trimming and docs compatibility
  .env.template
  scripts/health-check.sh
  tests/shell/test_scripts.bats
Due: none

fix: remove obsolete copilot-review-mcp OAuth vars from docs and tests
  README.md
  scripts/generate-ide-config.sh
  tests/shell/test_scripts.bats
Due: documentation-link-check

docs: update variable references and port descriptions for v3.0.0
  .env.template
  README.md
  scripts/health-check.sh
Due: documentation-link-check

fix: mcp-gateway v0.3.0 + copilot-review-mcp v3.0.0 breaking changes (#130)
  .env.template
  Makefile
  README.md
  docker-compose.yml
  scripts/generate-ide-config.sh
  scripts/health-check.sh
  tests/shell/test_scripts.bats
Due: docker-environment-check, documentation-link-check

chore: prepare v2.7.0 release
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  README.md
  SECURITY.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  docs/e2e-runbook-mcp-docker-cli.md
  docs/skills/pr-review-cycle.md
Due: actions-workflow-validation, documentation-link-check

fix: address release prep review feedback
  CHANGELOG.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

fix: restore CLI coverage reporting
  CHANGELOG.md
  codecov.yml
Due: documentation-link-check

chore: prepare v2.7.0 release
  .github/workflows/release.yml
  CHANGELOG.md
  Makefile
  README.md
  SECURITY.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  codecov.yml
  docs/e2e-runbook-mcp-docker-cli.md
  docs/skills/pr-review-cycle.md
Due: actions-workflow-validation, documentation-link-check

Fix Windows mcp-docker make build
  Makefile
  README.md
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

Clean up legacy repository artifacts
  .actrc.example
  .amazonq/rules/docker-implementation-rules.md
  .amazonq/rules/docker-quality-rules.md
  .clinerules/docker-quality-rules.md
  .dockerignore
  .env.template
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/copilot-instructions.md
  .github/workflows/lint-test.yml
  .github/workflows/security.yml
  .gitignore
  .kiro/settings/mcp.json
  .kiro/steering/ai-development-rules.md
  .kiro/steering/docker-implementation-rules.md
  .kiro/steering/docker-quality-rules.md
  .mcp.json.example
  .python-version
  CHANGELOG.md
  Makefile
  README.md
  ci-helper.toml.example
  codecov.yml
  docs/archives/MCP_MANUAL_TEST_SUMMARY_2026-02-07.md
  docs/archives/README.md
  docs/archives/plan-mcp-register-go.md
  docs/archives/simplification/CLEANUP_SUMMARY.md
  docs/archives/simplification/github-mcp-server-design.md
  docs/archives/simplification/github-mcp-server-implementation.md
  docs/archives/spike-mcp-cli-registration.md
  docs/e2e-runbook-mcp-docker-cli.md
  docs/skills/pr-review-cycle.md
  examples/github-mcp/docker-compose.yml
  scripts/generate-ide-config.sh
  scripts/setup.sh
  tests/shell/test_scripts.bats
Due: actions-workflow-validation, docker-environment-check, documentation-link-check

Document github-mcp bind mount directory
  README.md
Due: documentation-link-check

fix: update module path to github.com/scottlz0310/mcp-docker/v2 for go install support
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
  go.mod
  internal/compose/parse.go
  internal/external/parse.go
Due: none

chore: prepare v2.8.0 release
  CHANGELOG.md
  README.md
Due: documentation-link-check

docs(skill): ポーリングをサブエージェントに委譲する方式に更新
  docs/skills/pr-review-cycle.md
Due: documentation-link-check

fix(docs): clarify sub-agent polling loop termination condition
  docs/skills/pr-review-cycle.md
Due: documentation-link-check

docs(skill): 5 improvements to pr-review-cycle template
  docs/skills/pr-review-cycle.md
Due: documentation-link-check

docs: fix typo in pr-review-cycle skill (push済み「の」脱字)
  docs/skills/pr-review-cycle.md
Due: documentation-link-check

docs: pr-review-cycle skill ポーリングをサブエージェントに委譲 (#139)
  docs/skills/pr-review-cycle.md
Due: documentation-link-check

feat: add interactive register flow with multi-select agent/server
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/interactive.go
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
Due: documentation-link-check

fix: address Copilot review feedback for register interactive mode
  README.md
  cmd/mcp-docker/interactive.go
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
Due: documentation-link-check

fix: align implicit interactive trigger and reuse stdin buffered reader
  cmd/mcp-docker/interactive.go
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
Due: none

fix: validate unique server names across full set, not just selected
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
Due: none

feat: add interactive register flow with multi-select agent/server (#134) (#140)
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/interactive.go
  cmd/mcp-docker/main.go
  cmd/mcp-docker/main_test.go
Due: documentation-link-check

chore: prepare v2.9.0 release
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check

chore: prepare v2.9.0 release (#141)
  CHANGELOG.md
  Makefile
  README.md
  cmd/mcp-docker/main.go
  docs/e2e-runbook-mcp-docker-cli.md
Due: documentation-link-check
