Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$


fix: review-ravenとgatewayに専用共有Bearerを設定
  .env.template
  CHANGELOG.md
  docker-compose.review-raven-app.yml
  docs/review-raven-app-auth.md
  internal/compose/review_raven_app_test.go
Due: documentation-link-check

test: 専用AppのrouteをベースCompose設定と照合
  internal/compose/review_raven_app_test.go
Due: none

feat: review-raven専用AppのCompose切り替え設定を追加 (#385)
  .env.template
  CHANGELOG.md
  docker-compose.review-raven-app.yml
  docs/review-raven-app-auth.md
  internal/compose/review_raven_app_test.go
Due: documentation-link-check

feat: 専用App設定を標準Composeとmake運用へ統合
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  docker-compose.review-raven-app.yml
  docker-compose.yml
  docs/review-raven-app-auth.md
  docs/review-raven-app-v4.md
  internal/compose/make_app_test.go
  internal/compose/parse_test.go
  internal/compose/review_raven_app_test.go
  scripts/check-review-raven-app.sh
Due: docker-environment-check, documentation-link-check

test: 標準Composeの必須App設定に既存シェル検証を追従
  tests/shell/test_github_app_key.bats
  tests/shell/test_scripts.bats
Due: none

feat: 専用App設定を標準Composeとmake運用へ統合 (#386)
  .env.template
  CHANGELOG.md
  Makefile
  README.md
  docker-compose.review-raven-app.yml
  docker-compose.yml
  docs/review-raven-app-auth.md
  docs/review-raven-app-v4.md
  internal/compose/make_app_test.go
  internal/compose/parse_test.go
  internal/compose/review_raven_app_test.go
  scripts/check-review-raven-app.sh
  tests/shell/test_github_app_key.bats
  tests/shell/test_scripts.bats
Due: docker-environment-check, documentation-link-check

chore: v2.32.0のリリースを準備
  CHANGELOG.md
Due: documentation-link-check

docs: v2.32.0の比較リンクを更新
  CHANGELOG.md
Due: documentation-link-check

docs: 恒久構成の配備確認証跡を追記
  docs/review-raven-app-v4.md
Due: documentation-link-check

chore: v2.32.0のリリースを準備 (#387)
  CHANGELOG.md
  docs/review-raven-app-v4.md
Due: documentation-link-check
