Repository scottlz0310/Mcp-Docker: changes, and which pre-commit hooks are due for each by the changed paths.
All: actions-simulator-unit-tests, actions-workflow-validation, docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

actions-simulator-unit-tests:
  name: 🧪 Actions Simulator 単体テスト
  description: GitHub Actions Simulator の核心機能をテスト
  ...

actions-workflow-validation:
  name: ✅ GitHub Actions ワークフロー検証
  description: GitHub Actions ワークフローファイルの構文と設定を検証
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | grep -v "\.sample$" | head -5'
  language: system
  pass_filenames: false

docker-environment-check:
  name: 🐳 Docker 環境チェック
  description: Docker 環境の基本的な動作確認
  entry: bash -c 'docker --version && docker compose version && echo "✅ Docker 環境正常"'
  language: system
  pass_filenames: false

actions-simulator-config-check:
  name: ⚙️ Actions Simulator 設定検証
  description: Actions Simulator の設定ファイルを検証
  entry: 'bash -c ''if [ -f ".env.example" ]; then echo "✅ .env.example 存在確認"; else echo "❌ .env.example が見つかりません"; exit 1; fi''
  
    '
  language: system
  pass_filenames: false

documentation-link-check:
  name: 🔗 ドキュメントリンク検証
  description: ドキュメント内のリンクの有効性を確認
  entry: bash -c 'find . -name "*.md" -not -path "./.git/*" -not -path "./.venv/*" | head -5'
  language: system
  pass_filenames: false

version-consistency-check:
  name: 🏷️ バージョン整合性チェック
  description: pyproject.toml と main.py のバージョン整合性を確認
  entry: bash -c 'make version-sync && echo "✅ バージョン整合性確認完了"'
  language: system
  pass_filenames: false

fix: actバージョンをv0.2.82に戻しCVE-2025-22874を除外
  .trivyignore
  Dockerfile
Due: docker-environment-check

chore: テンプレート検証ジョブを無効化
  .github/workflows/quality-gates.yml
  .github/workflows/template-validation.yml.sample
Due: actions-workflow-validation

fix: shellcheck警告を修正（SC2086）
  scripts/collect-support-info.sh
Due: none

chore: shellcheck設定を追加
  .shellcheckrc
Due: none

chore: ドキュメント整合性検証ジョブを無効化
  .github/workflows/quality-gates.yml
Due: actions-workflow-validation

feat: Docker特化品質ルールの追加
  .clinerules/docker-quality-rules.md
Due: documentation-link-check

fix: CI/CDワークフローの修正
  .github/workflows/ci.yml
  .github/workflows/quality-gates.yml
Due: actions-workflow-validation

fix: CI ワークフローのテスト実行ロジックを修正
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: CI/CDワークフローでのエラー処理を修正し、失敗時に成功扱いにならないように変更
  .amazonq/rules/integration-test-improvement-plan.md
  .github/workflows/ci.yml
  .github/workflows/quality-gates.yml
  .github/workflows/security.yml
Due: actions-workflow-validation, documentation-link-check

fix: Docker Composeのイメージを正しいリポジトリに更新し、不要なコマンドを削除
  .amazonq/rules/integration-test-improvement-plan.md
  examples/github-mcp/docker-compose.yml
Due: documentation-link-check

fix: GitHub MCPサーバーのDockerイメージを公式イメージに更新し、ビルド設定を削除
  docker-compose.yml
Due: docker-environment-check

fix: Docker Hubへのログインステップを削除し、MCPサーバー接続テストスクリプトを追加
  .github/workflows/security.yml
  .gitignore
  .mcp.json.example
  scripts/test-mcp-connection.sh
Due: actions-workflow-validation

fix: Trivyアクションのバージョンを指定し、設定ファイルを追加
  .github/workflows/security.yml
Due: actions-workflow-validation

fix: Docker Hubへのログインステップを削除し、actのインストールを追加 fix: テストスクリプトでのプロジェクトルート設定を動的に検出するように変更
  .github/workflows/ci.yml
  archive/reports/FINAL_DOCKER_PERMISSION_COMPARISON.md
  tests/integration/actions/test_actions_simulator.bats
Due: actions-workflow-validation, documentation-link-check

fix: CIスクリプトのタイムアウト処理を改善し、エラーメッセージを削除
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: Trivyアクションのバージョンを最新に更新
  .github/workflows/security.yml
Due: actions-workflow-validation

fix: shellcheckのチェックから特定のディレクトリを除外し、環境変数のエクスポートを修正
  .github/workflows/ci.yml
  tests/integration/shared/test_helpers.sh
Due: actions-workflow-validation

fix: Trivyスキャンの設定でオプション名を修正
  .github/workflows/security.yml
Due: actions-workflow-validation

fix: shellcheckのチェックでエラーレベルのみを検出するように変更
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: CIスクリプトのPythonセットアップを改善し、依存関係のインストールを簡素化
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: MegaLinterの実行を簡素化し、変更ファイルの検出を削除
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix: actのインストール先を指定するオプションを追加
  .github/workflows/ci.yml
Due: actions-workflow-validation

fix(ci): bats-testジョブにuvインストールを追加、shellcheck警告を抑制
  .github/workflows/ci.yml
  .shellcheckrc
Due: actions-workflow-validation

fix(ci): shellcheck警告を抑制、test_helperのパス解決を修正
  .shellcheckrc
  tests/helpers/test_helper.bash
Due: none

fix(ci): 残りのshellcheck警告を抑制
  .shellcheckrc
Due: none

fix(ci): hadolint警告を抑制
  .hadolint.yaml
Due: none

fix(test): mockエンジン使用時はファイル存在チェックをスキップ
  tests/integration/actions/test_actions_simulator.bats
Due: none

fix(test): pingの代わりにgetentでDNS解決を確認
  tests/integration/services/test_integration.bats
Due: none

feat: Actions SimulatorとDateTime Validatorの統合テストを追加し、CIワークフローを改善
  .github/workflows/ci.yml
  docker-compose.yml
  pyproject.toml
  tests/integration/services/test_actions_simulator_service.py
  tests/integration/services/test_datetime_validator.py
  tests/integration/services/test_github_mcp.py
  tests/integration/services/test_service_integration.py
Due: actions-workflow-validation, docker-environment-check, actions-simulator-config-check, version-consistency-check

feat: Actions Simulatorの起動方法をプロファイル指定に変更し、テストのタイムアウトを設定
  .github/workflows/ci.yml
  pyproject.toml
  tests/integration/services/test_actions_simulator_service.py
  tests/integration/services/test_service_integration.py
Due: actions-workflow-validation, actions-simulator-config-check, version-consistency-check

feat: Actions Simulatorと全サービスの起動方法をworker_idに基づいてユニーク化し、並列実行時の競合を回避
  tests/conftest.py
  tests/integration/services/test_actions_simulator_service.py
  tests/integration/services/test_service_integration.py
Due: none

feat: バージョンをv1.2.0に更新し、関連ドキュメントを整備
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/question.md
  CHANGELOG.md
  README.md
  docs/actions/API_REFERENCE.md
  docs/actions/SUPPORT.md
  docs/analysis/README.md
  docs/analysis/cross-repo-usage-guide.md
  main.py
  pyproject.toml
  scripts/check-docs-consistency.py
  services/actions/__init__.py
  uv.lock
Due: actions-simulator-config-check, documentation-link-check, version-consistency-check

fix: release.ymlのworkflow_call入力パラメータを修正
  .github/workflows/release.yml
Due: actions-workflow-validation

fix: git commitコマンドの構文エラーを修正
  .github/workflows/release.yml
Due: actions-workflow-validation

docs: sync CHANGELOG with release page content for v1.2.0
  CHANGELOG.md
Due: documentation-link-check

Add initial design document for GitHub Release Watcher service
  docs/analysis/github-release-watcher-implementation-plan.md
  docs/services/github-release-watcher.md
Due: documentation-link-check

feat: GitHub Release Watcherサービスを追加
  CHANGELOG.md
  Dockerfile
  README.md
  docker-compose.yml
  examples/github-release-watcher/README.md
  examples/github-release-watcher/config/config.toml
  examples/github-release-watcher/scripts/start.sh
  examples/github-release-watcher/scripts/stop.sh
  pyproject.toml
  services/github_release_watcher/__init__.py
  services/github_release_watcher/__main__.py
  services/github_release_watcher/comparator.py
  services/github_release_watcher/config.py
  services/github_release_watcher/github_client.py
  services/github_release_watcher/logger.py
  services/github_release_watcher/main.py
  services/github_release_watcher/notification/__init__.py
  services/github_release_watcher/notification/base.py
  services/github_release_watcher/notification/discord.py
  services/github_release_watcher/notification/email.py
  services/github_release_watcher/notification/file.py
  services/github_release_watcher/notification/manager.py
  services/github_release_watcher/notification/native.py
  services/github_release_watcher/notification/slack.py
  services/github_release_watcher/notification/webhook.py
  services/github_release_watcher/scheduler.py
  services/github_release_watcher/state.py
  tests/conftest.py
  tests/unit/test_github_release_watcher_comparator.py
  tests/unit/test_github_release_watcher_notifications.py
  uv.lock
Due: docker-environment-check, actions-simulator-config-check, documentation-link-check, version-consistency-check

feat: MakefileにGitHub Release Watcherターゲットを追加
  Makefile
Due: none

fix: サンプル設定を修正してコンテナ起動エラーを解消
  examples/github-release-watcher/config/config.toml
Due: none

Path conditions:
  actions-simulator-unit-tests: any of: ^(src/|tests/test_hangup_unit\.py), but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  docker-environment-check: any of: ^(Dockerfile|docker-compose\.ya?ml|\.dockerignore)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  actions-simulator-config-check: any of: ^(\.env\.example|pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  documentation-link-check: any of: \.md$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

  version-consistency-check: any of: ^(pyproject\.toml|main\.py)$, but not: (?x)^(
  \.git/.*|
  \.mypy_cache/.*|
  \.pytest_cache/.*|
  \.ruff_cache/.*|
  \.venv/.*|
  __pycache__/.*|
  node_modules/.*|
  output/.*|
  logs/.*|
  \.env.*|
  sbom-.*\.json|
  .*\.log
)$

